<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
    <style>

    </style>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <a href="{% url 'accounts:landing' %}">
                    <span class="mdl-layout-title">Endorsity</span>
                </a>
                <div class="mdl-layout-spacer"></div>
                <a class="mdl-navigation__link" href="{% url 'accounts:logout' %}">Logout</a>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Endorsity</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{% url 'accounts:how_it_works' %}">How It Works</a>
                <a class="mdl-navigation__link" href="{% url 'accounts:contact_us' %}">Contact Us</a>
                <a class="mdl-navigation__link" href="{% url 'accounts:faq' %}">FAQ</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                {% block main %}{% endblock %}
            </div>
        </main>
    </div>
</body>

</html>
