{% extends 'influencer/base.html' %}
{% block main %}
<div class="container">
    <div class="main-heading">SELECT UNLOCK LOCATION</div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" />
    </form>
</div>
<script>
    $('label[for="id_location"').remove();
</script>
<style>
    .container {
        background-color: #fff;
        margin: auto;
        width: fit-content;
        padding: 2vh 2vw;
        margin-top: 5vh;
    }

    #id_location {
        font-size: 1.3em;
        max-width: 50vw;
        overflow-x: hidden;
        padding: 1vh;
        color: #515151;
        margin-bottom: 2vh;
        font-family: 'Montserrat', sans-serif;
    }

    input[type="submit"] {
        background-color: #0471ff !important;
        color: #fff !important;
        border-radius: 15px;
        font-size: 2vh;
        text-transform: none;
        line-height: 2vh;
        font-family: 'Montserrat', sans-serif !important;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    select {
        overflow-x: visible;
    }

    .main-heading {
        font-size: 3em;
        margin-bottom: 5vh;
        margin-top: 3vh;
        color: #150E41;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-bottom: 4vh;
    }

    @media only screen and (max-width: 900px) {
        .main-heading {
            font-size: 20px;
            line-height: 20px;
        }

        #id_location {
            max-width: 88vw;
        }
    }
</style>
{% endblock %}