{% extends 'influencer/inactive_base.html' %}
{% load static %}
{% block main %}
<div class="container">
    <div class="i-container"><i class="material-icons">integration_instructions</i></div><br />
    <div class="heading">
        We require all the permissions asked for while connecting to facebook for the following reasons.
        <ul>
            <li>We need permissions to allow influencers to add their posts onto our platform so that brands can see them.</li>
            <li>We need permissions to show statistical insights for these posts to brands.</li>
        </ul>
        To successfully connect to facebook:
        <ol>
            <li>
                Add your facebook page to your instagram creator account. You need to follow the instructions linked
                below. You may skip this step if you have already added a facebook page to your instagram creator
                account.
                <div class="button-container">
                    <a target="__blank" rel="noopener noreferrer" href="https://help.instagram.com/399237934150902">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            <i class="material-icons">open_in_new</i>
                            &nbsp;&nbsp;Instructions
                        </button>
                    </a>
                </div>
            </li>
            <li>
                Connect to facebook. Select your facebook page
                <div class="button-container">
                    <a href="{% url 'influencer:fb_verification' %}">
                        <button class="fb-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            <img class="fb-img-width" src="{% static 'fb_logo.png' %}" />&nbsp;&nbsp;&nbsp;
                            Connect To Facebook
                        </button>
                    </a>
                </div>
            </li>
        </ol>
    </div>
</div>
<style>
    .container {
        background-color: #fff;
        color: #161A1D;
        padding: 2vh 2vh;
        width: 66vw;
        margin-left: 17vw;
        border-radius: 5px;
        font-size: 1.5em;
        margin-top: 10vh;
        margin-bottom: 15px;
    }

    ol,
    ul {
        font-size: 1em;
        line-height: 1.2;
    }

    .container i {
        font-size: 1.5em;
    }

    .i-container>i {
        font-size: 4em;
        width: 100%;
        text-align: center;
        color: #0471ff;
    }

    .container .mdl-button {
        background-color: #0471ff !important;
        color: #fff !important;
        font-family: 'Montserrat', sans-serif !important;
        padding: 1vh !important;
        height: auto;
        text-align: center;
        border-radius: 10px;
        text-transform: none;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .container .fb-button {
        color: rgb(24, 119, 242) !important;
        background-color: #ffffff !important;
    }

    .button-container {
        text-align: center;
    }

    .fb-img-width {
        width: 40px;
    }

    @media only screen and (max-width: 900px) {
        .container {
            width: 80vw;
            margin: auto;
            margin-top: 15px;
            font-size: 15px;
            margin-bottom: 15px;
        }
    }
</style>
{% endblock %}