{% extends 'influencer/inactive_base.html' %}
{% block main %}
<div class="container">
    <div class="i-container"><i class="material-icons">error_outline</i></div><br />
    <div class="heading">
        Connecting to facebook failed.<br />
        We require that you have atleast 10,000 instagram followers.<br />
        Make sure that you provide all the required permissions while connecting. If problem persists, do contact us and our support team will help you out.<br /><br />
    </div>
    <a href="{% url 'influencer:fb_connect' %}">
        <button class="fb-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Try Again
        </button>
    </a>
</div>
<style>
    .container {
        background-color: #EEEEEE;
        color: #161A1D;
        padding: 2vh 2vh;
        width: 40vw;
        margin-left: 30vw;
        border-radius: 5px;
        font-size: 1.5em;
        margin-top: 10vh;
    }

    .i-container>i {
        font-size: 4em;
        width: 100%;
        text-align: center;
        color: #0471ff;
    }

    .container .mdl-button {
        background-color: #0471ff !important;
        color: #fff !important;
        font-family: 'Montserrat', sans-serif !important;
        padding: 1vh !important;
        height: auto;
        text-align: center;
        border-radius: 10px;
        text-transform: none;
        font-size: 2.5vh;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    @media only screen and (max-width: 900px) {
        .container {
            width: 80vw;
            margin: auto;
            margin-top: 15px;
        }
    }
</style>
{% endblock %}