{% extends 'influencer/base.html' %}

{% load influencer_tags %}
{% load static %}
{% block main %}
{% if not request.user|is_influencer_unlocked %}
<div class="container">
    <div class="message">
        <i class="material-icons">announcement</i><br />
        You have not unlocked any brand yet.<br />
        Once you go to a store and unlock the brand, you may post here.
    </div>
</div>
{% else %}
<div class="container">
    <div class="unlock-details">
        <div class="unlock-amount category-{{ post.influencer|influencer_category }}">
            <img src="{% static 'verified.gif' %}" alt="unlock" />
            <br />
            &#x20B9; {{ post.influencer|influencer_discount }}<span><br />off on your bill as a
            <span class="category category-{{ post.influencer|influencer_category }}">{{ post.influencer|influencer_category }}</span>
            influencer.</span><br />
        </div>
        <div class="heading mdl-grid">
            <div class="mdl-cell mdl-cell--1-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                <i class="material-icons">local_offer</i>
            </div>
            <div class="mdl-cell mdl-cell--11-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                {{ post.campaign.brand.name }}
            </div>
        </div>
        <div class="sub-heading mdl-grid">
            <div class="mdl-cell mdl-cell--1-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                <i class="material-icons">location_on</i>
            </div>
            <div class="mdl-cell mdl-cell--11-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                {{ post.location }}
            </div>
        </div>
    </div>
    <hr />
    <div class="mdl-grid steps-grid">
        <div class="mdl-cell mdl-cell--1-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            <button class="mdl-button mdl-js-button mdl-button--fab">
                1
            </button>
        </div>
        <div class="mdl-cell mdl-cell--11-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            Go around and click photos of you endorsing the brand.
        </div>
        <div class="mdl-cell mdl-cell--1-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            <button class="mdl-button mdl-js-button mdl-button--fab">
                2
            </button>
        </div>
        <div class="mdl-cell mdl-cell--11-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            Choose your favourite pictures and create an Instagram post with these.
        </div>
        <div class="mdl-cell mdl-cell--1-col mdl-cell--2-col-tablet mdl-cell--1-col-phone select-ig-step">
            <button class="mdl-button mdl-js-button mdl-button--fab">
                3
            </button>
        </div>
        <div class="mdl-cell mdl-cell--11-col mdl-cell--6-col-tablet mdl-cell--3-col-phone select-ig-step">
            Select from your most recent Instagram posts shown below.
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            <div class="picture-select-wrapper">
                <div class="picture-select mdl-grid">
                    <div class="spinner-holder">
                        <div class="mdl-spinner mdl-js-spinner mdl-spinner--single-color is-active"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            <button class="mdl-button mdl-js-button mdl-button--fab">
                4
            </button>
        </div>
        <div class="mdl-cell mdl-cell--11-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            Make sure that you have selected the right Instagram post. This action cannot be
            undone.
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored complete-btn"
                    value="Complete Submission" />
            </form>
        </div>
    </div>
</div>
{% endif %}
<script>
    $('main').css('background-color', '#fff');
    $('#post-top-nav-id').addClass('is-active');
    $('.post-top-nav').addClass('is-active');
    {% if request.user|is_influencer_unlocked %}
    $(document).ready(function () {
        $.ajax({
            url: "/influencer/fetch-ig-posts/",
            async: true,
            success: function (result) {
                $(".picture-select .spinner-holder").remove();
                result["media"]["data"].forEach(function (item, index) {
                    $('.picture-select').append(`
                        <div id="ig-holder-${index}" class="mdl-cell mdl-cell--4-col">
                            <div class="spinner-holder">
                                <div class="mdl-spinner mdl-js-spinner is-active"></div>
                            </div>
                        </div>
                    `);
                });
                fetchAllIGURLs(result);
            }
        });
        var fetchAllIGURLs = (res) => {
            res["media"]["data"].forEach(function (item, index) {
                $.ajax({
                    url: `/influencer/fetch-ig-post-thumbnail/${item['id']}/`,
                    async: true,
                    success: function (result) {
                        $(`#ig-holder-${index}`).html(`
                            <img class="media-img" media-id="${result['id']}" src="${result["link"]}" alt="ig-picture" />
                        `);
                        $('.media-img').click(function () {
                            $('.img-selected').removeClass('img-selected');
                            $('.selected-check').remove();
                            $(this).addClass('img-selected');
                            $(this).parent().append(`
                                <i class="material-icons selected-check">check_circle</i>
                            `);
                            var media_id = $(this).attr('media-id');
                            $('#id_media_id').attr('value', media_id);
                        });
                    }
                });
            });
        };
    });
    {% endif %}
</script>
<style>
    .container {
        width: 65vw;
        margin: auto;
        border-radius: 5px;
        color: #515151;
    }

    .spinner-holder {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .picture-select {
        min-width: 40vw;
        border-radius: 5px;
        background-color: white;
        min-height: 15vh;
    }

    .picture-select .mdl-cell {
        min-height: 10vh;
    }

    .picture-select img {
        width: 100%;
        cursor: pointer;
    }

    .picture-select-wrapper {
        width: fit-content;
        margin: auto;
        padding: 5px 5px;
        border-radius: 5px;
        background: linear-gradient(to bottom right, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
        margin-top: 5vh;
    }

    .main-heading {
        width: 65vw;
        margin: auto;
        font-size: 3em;
        color: #EEEEEE;
        margin-top: 5vh;
        margin-bottom: 2vh;
        font-weight: 300;
        color: #150e41 !important;
        font-family: 'Montserrat', sans-serif;
    }

    .message {
        padding-top: 5vh;
        padding-bottom: 5vh;
        font-size: 2em;
        line-height: 1;
        text-align: center;
        margin-top: 5vh;
        font-family: 'Montserrat', sans-serif;
    }

    .message i {
        font-size: 3em;
        margin-bottom: 2vh;
    }

    .heading {
        padding-top: 5vh;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
    }

    .heading .mdl-cell {
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

    .heading i {
        font-size: 1.5em;
        vertical-align: middle;
    }

    .sub-heading {
        margin-bottom: 2vh;
        font-size: 2em;
        line-height: 1;
        font-family: 'Montserrat', sans-serif;
        text-align: left;
    }

    .sub-heading .mdl-cell {
        font-family: 'Montserrat', sans-serif;
    }

    .sub-heading i {
        font-size: 1.5em;
        vertical-align: middle;
    }

    hr {
        margin-top: 0;
        margin-bottom: 2vh;
    }

    .steps-grid {
        padding: 2vh 0;
    }

    .steps-grid .mdl-cell--2-col {
        text-align: center;
    }

    .steps-grid .mdl-cell {
        margin-bottom: 4vh;
        font-family: 'Montserrat', sans-serif;
    }

    .steps-grid button {
        background-color: #fff !important;
        color: #515151 !important;
        cursor: default;
        border: 2px solid #515151;
    }

    .steps-grid .mdl-cell--11-col {
        display: flex;
        align-items: center;
        font-size: 2em;
        line-height: 1;
    }

    .mdl-spinner__layer {
        border-color: #161A1D !important;
    }

    .select-ig-step {
        margin-bottom: 1vh !important;
    }

    form {
        text-align: center;
    }

    .complete-btn {
        background-color: #0471ff !important;
        color: #fff !important;
        border-radius: 15px;
        font-size: 2vh;
        text-transform: none;
        line-height: 2vh;
        font-family: 'Montserrat', sans-serif !important;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #id_media_id, label[for="id_media_id"] {
        display: none;
    }

    form p {
        margin: 0;
    }

    .img-selected {
        filter: opacity(0.25);
    }

    .picture-select div.mdl-cell {
        position: relative;
    }

    .picture-select i.selected-check {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 5em;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .unlock-details {
        margin: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
        border-radius: 15px;
        text-align: center;
    }

    .unlock-details img {
        width: 200px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .unlock-amount {
        font-size: 55px;
        font-family: 'Montserrat', sans-serif;
    }

    .unlock-amount span {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        color: #515151;
    }

    .unlock-message {
        text-align: left;
        font-size: 15px;
        line-height: 17px;
        padding: 10px;
    }

    .category {
        text-transform: uppercase;
        font-weight: bold;
    }

    .category-gold {
        color: #CAA655 !important;
    }

    .category-silver {
        color: #474747 !important;
    }

    .category-bronze {
        color: #7B4921 !important;
    }

    @media only screen and (max-width: 900px) {
        .main-heading {
            width: 95%;
            font-size: 25px;
            line-height: 25px;
        }

        .container {
            width: 95%;
        }

        .heading {
            padding: 0;
        }

        .sub-heading {
            padding: 0;
        }

        .heading .mdl-cell--1-col-phone, .sub-heading .mdl-cell--1-col-phone {
            display: flex;
            justify-content: center;
        }

        .heading .mdl-cell, .sub-heading .mdl-cell {
            font-size: 18px;
        }

        .heading i, .sub-heading i {
            font-size: 25px;
        }

        .mdl-button--fab {
            min-width: 28px;
            width: 40px;
            height: 40px;
            font-size: 20px;
        }

        .steps-grid .mdl-cell--11-col {
            font-size: 18px;
        }

        .unlock-details img {
            width: 40vw;
        }

        .unlock-amount span {
            font-size: 20px;
        }

        .unlock-amount {
            font-size: 40px;
            margin-bottom: 30px;
        }
    }
</style>
{% endblock %}