{% extends base_template %}
{% load brand_tags %}
{% load tz %}
{% load static %}
{% block main %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="container">
    <div class="mdl-grid main-grid">
        <div class="mdl-cell mdl-cell--3-col first-section">
            {% if not request.user.is_brand %}
                {% if request.user.get_profile_picture %}
                <div class="profile-picture-wrapper">
                    <img class="profile-picture-display" src="{{ request.user.get_profile_picture.url }}" />
                </div>
                {% else %}
                <i class="material-icons placeholder-profile-picture">account_circle</i>
                {% endif %}
            {% else %}
                {% if influencer.user.get_profile_picture %}
                <div class="profile-picture-wrapper">
                    <img class="profile-picture-display" src="{{ influencer.user.get_profile_picture.url }}" />
                </div>
                {% else %}
                <i class="material-icons placeholder-profile-picture">account_circle</i>
                {% endif %}
            {% endif %}
            <div class="details">
                <div class="name">
                    {{ fb_permissions.influencer.first_name }}
                    {{ fb_permissions.influencer.last_name }}
                </div>
            </div>
            <div class="mdl-grid details-grid">
                <div class="mdl-cell mdl-cell--2-col">
                    <div class="inner-content">
                        <svg viewBox="0 0 24 24">
                            <path fill="#EEEEEE"
                                d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z">
                            </path>
                        </svg>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--10-col">
                    <div class="inner-content">
                        {{ fb_permissions.ig_username }}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <div class="inner-content">
                        <i class="material-icons">trending_up</i>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--10-col">
                    <div class="inner-content">
                        {{ fb_permissions.ig_follower_count }} Followers&nbsp;&nbsp;<i id="follower-count-info"
                            class="material-icons info-icon">info</i>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <div class="inner-content">
                        <i class="material-icons">open_in_new</i>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--10-col">
                    <div class="inner-content">
                        <a href="https://instagram.com/{{ fb_permissions.ig_username }}" target="_blank">
                            instagram.com/{{ fb_permissions.ig_username }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--8-col main-grid-cell">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar">
                    {% if not request.user.is_brand %}
                        <a href="{% url 'influencer:profile_analytics' %}" class="mdl-tabs__tab">
                            <i class="material-icons">analytics</i>
                            &nbsp;&nbsp;Analytics
                        </a>
                        <a href="{% url 'influencer:profile_endorsements' %}" class="mdl-tabs__tab">
                            <i class="material-icons">dynamic_feed</i>
                            &nbsp;&nbsp;Endorsements
                        </a>
                        <a href="{% url 'influencer:profile_badge' %}" class="mdl-tabs__tab is-active">
                            <i class="material-icons">military_tech</i>
                            &nbsp;&nbsp;Badge
                        </a>
                    {% else %}
                        {% get_encoded_pk influencer.user as encoded_pk %}
                        <a href="{% url 'brand:influencer_analytics' encoded_pk %}" class="mdl-tabs__tab">
                            <i class="material-icons">analytics</i>
                            &nbsp;&nbsp;Analytics
                        </a>
                        <a href="{% url 'brand:influencer_endorsements' encoded_pk %}" class="mdl-tabs__tab">
                            <i class="material-icons">dynamic_feed</i>
                            &nbsp;&nbsp;Endorsements
                        </a>
                        <a href="{% url 'brand:influencer_badge' encoded_pk %}" class="mdl-tabs__tab is-active">
                            <i class="material-icons">military_tech</i>
                            &nbsp;&nbsp;Badge
                        </a>
                    {% endif %}
                </div>
                <div class="mdl-tabs__panel is-active" id="badge-panel">
                    <div id="card" class="bronze-badge">
                        <svg class="badge" viewBox="0 0 267.3 427.3">
                            <defs>
                                <!-- Gold Card -->
                                <!-- <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                                    <stop offset="0%" style="stop-color:#fff176;" />
                                    <stop offset="50%" style="stop-color:#fdd835;" />
                                    <stop offset="50%" style="stop-color:#fff;" />
                                    <stop offset="50.5%" style="stop-color:#fff;" />
                                    <stop offset="50.5%" style="stop-color:#fff176;" />
                                    <stop offset="100%" style="stop-color:#fff176;" />
                                </linearGradient> -->
                                <!-- Silver Card -->
                                <!-- <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                                    <stop offset="0%" style="stop-color:#e0e0e0;" />
                                    <stop offset="50%" style="stop-color:#9e9e9e;" />
                                    <stop offset="50%" style="stop-color:#fff;" />
                                    <stop offset="50.5%" style="stop-color:#fff;" />
                                    <stop offset="50.5%" style="stop-color:#e0e0e0;" />
                                    <stop offset="100%" style="stop-color:#e0e0e0;" />
                                </linearGradient> -->
                                <!-- Bronze Card -->
                                <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                                    <stop offset="0%" style="stop-color:#8d6e63;" />
                                    <stop offset="50%" style="stop-color:#6d4c41;" />
                                    <stop offset="50%" style="stop-color:#fff;" />
                                    <stop offset="50.5%" style="stop-color:#fff;" />
                                    <stop offset="50.5%" style="stop-color:#8d6e63;" />
                                    <stop offset="100%" style="stop-color:#8d6e63;" />
                                </linearGradient>
                            </defs>
                            <path fill="url(#gradient)"
                                d="M265.3 53.9a33.3 33.3 0 0 1-17.8-5.5 32 32 0 0 1-13.7-22.9c-.2-1.1-.4-2.3-.4-3.4 0-1.3-1-1.5-1.8-1.9a163 163 0 0 0-31-11.6A257.3 257.3 0 0 0 133.7 0a254.9 254.9 0 0 0-67.1 8.7 170 170 0 0 0-31 11.6c-.8.4-1.8.6-1.8 1.9 0 1.1-.2 2.3-.4 3.4a32.4 32.4 0 0 1-13.7 22.9A33.8 33.8 0 0 1 2 53.9c-1.5.1-2.1.4-2 2v293.9c0 3.3 0 6.6.4 9.9a22 22 0 0 0 7.9 14.4c3.8 3.2 8.3 5.3 13 6.8 12.4 3.9 24.8 7.5 37.2 11.5a388.7 388.7 0 0 1 50 19.4 88.7 88.7 0 0 1 25 15.5v.1-.1c7.2-7 16.1-11.3 25-15.5a427 427 0 0 1 50-19.4l37.2-11.5c4.7-1.5 9.1-3.5 13-6.8 4.5-3.8 7.2-8.5 7.9-14.4.4-3.3.4-6.6.4-9.9V231.6 60.5v-4.6c.4-1.6-.3-1.9-1.7-2z" />
                        </svg>
                        {% if not request.user.is_brand %}
                            {% if request.user.get_profile_picture %}
                            <img class="badge-profile-picture" src="{{ request.user.get_profile_picture.url }}" />
                            {% else %}
                            <i class="material-icons badge-placeholder-profile-picture">account_circle</i>
                            {% endif %}
                        {% else %}
                            {% if influencer.user.get_profile_picture %}
                            <img class="badge-profile-picture" src="{{ influencer.user.get_profile_picture.url }}" />
                            {% else %}
                            <i class="material-icons badge-placeholder-profile-picture">account_circle</i>
                            {% endif %}
                        {% endif %}
                        <div class="badge-followers">
                            {{ fb_permissions.ig_follower_count }}<br /><span>FOLLOWERS</span>
                        </div>
                        <img class="badge-verified-gif" src="{% static 'verified.gif' %}" alt="verified" />
                        <div class="badge-instagram">
                            {{ fb_permissions.ig_username }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mdl-tooltip" for="follower-count-info">
    Updated every 3 hours
</div>
<script>
    {% if not request.user.is_brand %}
        $('#profile-top-nav-id').addClass('is-active');
    {% endif %}

    {% for endorsement in endorsements %}
    var link = "{{ endorsement.media_embed_url }}";
    $("#endorsements-panel").append(`
            <div class="post-container" id="post-container-{{ forloop.counter }}">
                <div class="loader-container">
                    <div class="spinner-holder">
                        <div class="mdl-spinner mdl-js-spinner mdl-spinner--single-color is-active"></div>
                    </div>
                </div>
                <hr class="post-separator" />
            </div>
        `);
    $.ajax({
        url: `https://api.instagram.com/oembed?url=${link}`,
        async: true,
        success: function (result) {
            $("#post-container-{{ forloop.counter }} .loader-container").remove();
            $("#post-container-{{ forloop.counter }}").prepend(`
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--1-col brand-name">
                            {% if endorsement.campaign.brand.user.get_profile_picture %}
                            <img class="brand-picture-display"
                                src="{{ endorsement.campaign.brand.user.get_profile_picture.url }}" />
                            {% else %}
                            <i class="material-icons">local_offer</i>
                            {% endif %}
                        </div>
                        <div class="mdl-cell mdl-cell--11-col brand-name">{{ endorsement.campaign.brand.name }}</div>
                        <hr />
                        <div class="mdl-cell mdl-cell--1-col">
                            <i class="material-icons">access_time</i>
                        </div>
                        <div class="mdl-cell mdl-cell--11-col">{{ endorsement.created_at|timezone:"Asia/Kolkata" }}</div>
                        <div class="mdl-cell mdl-cell--1-col">
                            <i class="material-icons">location_on</i>
                        </div>
                        <div class="mdl-cell mdl-cell--11-col">{{ endorsement.location.name }}</div>
                    </div>
                    ${result['html']}
                `);
        }
    });
    {% if forloop.last %}
    $("div.post-container:last-child hr").remove();
    {% endif %}
    {% empty %}
    $("#endorsements-panel").append(`
            <div class="no-posts">
                <div>
                    <i class="material-icons">hourglass_empty</i><br />
                    No Data
                </div>
            </div>
        `);
    {% endfor %}
</script>
<style>
    .container {
        width: 85vw;
        margin: auto;
    }

    .profile-picture-display {
        border-radius: 50%;
        width: 15vw;
    }

    .profile-picture-wrapper {
        /* gold: #ffc107 silver: #757575 bronze: #795548 */
        border: 0.5vh solid #795548;
        border-radius: 50%;
        width: fit-content;
        margin: auto;
        padding: 1vh;
    }

    .placeholder-profile-picture {
        font-size: 15vw;
        color: #EEEEEE;
        border: 0.5vh solid #795548;
        border-radius: 50%;
    }

    .first-section {
        text-align: center;
        margin-top: 5vh;
    }

    .details {
        margin-top: 2vh;
        border-radius: 5px;
        padding: 1vh 2vw;
        font-size: 1.2em;
        color: #EEEEEE;
        text-align: left;
    }

    i.info-icon {
        font-size: 1em;
        vertical-align: middle;
        cursor: help;
        padding-bottom: 4px;
    }

    .mdl-tooltip {
        background-color: #424242;
        font-size: 1em;
    }

    .mdl-tabs__tab {
        color: #EEEEEE;
    }

    .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
        color: #EEEEEE !important;
    }

    .mdl-tabs__tab.is-active::after {
        background: #EEEEEE !important;
    }

    .mdl-tabs__tab-bar i {
        vertical-align: middle;
        font-size: 1.5em;
    }

    .mdl-tabs__tab-bar {
        border-bottom: none;
    }

    .mdl-tabs__panel {
        background-color: #EEEEEE;
        min-height: 100%;
        border-radius: 5px;
        min-height: 40vh;
        padding: 2vh 0vw;
        margin-top: 1vh;
        margin-bottom: 5vh;
        position: relative;
    }

    .mdl-tabs__panel .mdl-button {
        background-color: #161A1D;
        cursor: auto;
    }

    .main-grid {
        padding-bottom: 0;
    }

    .main-grid-cell {
        margin-bottom: 0;
    }

    .panel-heading {
        font-size: 3em;
        padding-top: 4vh;
        font-weight: 300;
    }

    .panel-heading::after {
        content: "";
        display: block;
        border-bottom: 2px solid #161A1D;
        width: 10%;
        position: relative;
        bottom: -20px;
    }

    .panel-description {
        margin-top: 4vh;
    }

    .details .name {
        font-size: 1.5em;
        margin-bottom: 2vh;
        text-align: center;
    }

    .details-grid {
        padding: 0vh 2vw;
        text-align: left;
    }

    .details-grid i {
        vertical-align: middle;
    }

    .details-grid a {
        color: #EEEEEE;
        text-decoration: none;
        border-bottom: 1px solid #EEEEEE;
    }

    .details-grid .mdl-cell {
        margin-bottom: 0;
        margin-top: 0.5vh;
    }

    .details-grid .mdl-cell--2-col .inner-content {
        color: #EEEEEE;
        text-align: center;
    }

    .details-grid .mdl-cell--10-col .inner-content {
        font-size: 1.3em;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #EEEEEE;
        height: 100%;
        width: 100%;
        line-height: 1.5;
    }

    .details-grid svg {
        max-width: 1.5vw;
    }

    #badge-panel {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
    }

    #card {
        position: relative;
        margin-top: 5vh;
    }

    #card svg.badge {
        height: 55vh;
    }

    .badge-profile-picture {
        position: absolute;
        width: 10vw;
        top: 25%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #161A1D;
    }

    .badge-placeholder-profile-picture {
        position: absolute;
        font-size: 10vw;
        top: 25%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    .badge-followers {
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 2em;
        top: 75%;
        left: 25%;
        width: fit-content;
        text-align: center;
    }

    .badge-followers span {
        font-size: 0.5em;
    }

    .gold-badge {
        color: #725b16;
    }

    .silver-badge {
        color: #616161;
    }

    .bronze-badge {
        color: #d7ccc8;
    }

    .badge-verified-gif {
        width: 5vw;
        position: absolute;
        top: 75%;
        left: 75%;
        transform: translate(-50%, -50%);
    }

    .badge-instagram {
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
        width: fit-content;
        overflow-wrap: anywhere;
        text-align: center;
        line-height: 1;
    }
</style>
{% endblock %}