{% extends base_template %}
{% load brand_tags %}
{% load influencer_tags %}
{% load tz %}
{% load static %}
{% block main %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="container">
    <div class="mdl-grid main-grid">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="first-section">
                {% if not request.user.is_brand %}
                    {% if request.user.get_profile_picture %}
                    <div class="profile-picture-wrapper">
                        <img class="profile-picture-display" src="{{ request.user.get_profile_picture.url }}" />
                    </div>
                    {% else %}
                    <i class="material-icons placeholder-profile-picture">account_circle</i>
                    {% endif %}
                {% else %}
                    {% if influencer.user.get_profile_picture %}
                    <div class="profile-picture-wrapper">
                        <img class="profile-picture-display" src="{{ influencer.user.get_profile_picture.url }}" />
                    </div>
                    {% else %}
                    <i class="material-icons placeholder-profile-picture">account_circle</i>
                    {% endif %}
                {% endif %}
                <div class="details">
                    <div class="name">
                        {{ fb_permissions.influencer.first_name }}
                        {{ fb_permissions.influencer.last_name }}
                    </div>
                </div>
                <div class="mdl-grid details-grid">
                    <div class="mdl-cell mdl-cell--12-col insta-space">
                        <div class="inner-content">
                            <svg viewBox="0 0 24 24">
                                <path fill="#EEEEEE"
                                    d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z">
                                </path>
                            </svg>
                            {{ fb_permissions.ig_username }}
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col trending-space">
                        <div class="inner-content">
                            <i class="material-icons">trending_up</i>
                            {{ fb_permissions.ig_follower_count }} Followers&nbsp;&nbsp;<i id="follower-count-info" class="material-icons info-icon">info</i>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col instalink-space">
                        <div class="inner-content">
                            <i class="material-icons">open_in_new</i>
                            <a href="https://instagram.com/{{ fb_permissions.ig_username }}" target="_blank" rel="noopener noreferrer">
                                instagram.com/{{ fb_permissions.ig_username|slice:":11" }}{% if brand.website|length >= 11 %}...{% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--8-col main-grid-cell">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar">
                    {% if not request.user.is_brand %}
                        <a href="{% url 'influencer:profile_analytics' %}" class="mdl-tabs__tab">
                            <i class="material-icons">analytics</i>
                            &nbsp;&nbsp;Analytics
                        </a>
                        <a href="{% url 'influencer:profile_endorsements' %}" class="mdl-tabs__tab is-active">
                            <i class="material-icons">dynamic_feed</i>
                            &nbsp;&nbsp;Endorsements
                        </a>
                        <a href="{% url 'influencer:profile_badge' %}" class="mdl-tabs__tab">
                            <i class="material-icons">military_tech</i>
                            &nbsp;&nbsp;Badge
                        </a>
                    {% else %}
                        {% get_encoded_pk influencer.user as encoded_pk %}
                        <a href="{% url 'brand:influencer_analytics' encoded_pk %}" class="mdl-tabs__tab">
                            <i class="material-icons">analytics</i>
                            &nbsp;&nbsp;Analytics
                        </a>
                        <a href="{% url 'brand:influencer_endorsements' encoded_pk %}" class="mdl-tabs__tab is-active">
                            <i class="material-icons">dynamic_feed</i>
                            &nbsp;&nbsp;Endorsements
                        </a>
                        <a href="{% url 'brand:influencer_badge' encoded_pk %}" class="mdl-tabs__tab">
                            <i class="material-icons">military_tech</i>
                            &nbsp;&nbsp;Badge
                        </a>
                    {% endif %}
                </div>
                <div class="mdl-tabs__panel is-active" id="endorsements-panel"></div>
            </div>
        </div>
    </div>
</div>
<div class="mdl-tooltip" for="follower-count-info">
    Updated every 3 hours
</div>
<script>
    $('main').css('background-color', '#fff');
    {% if not request.user.is_brand %}
        $('.profile-top-nav').addClass('is-active');
        $('#profile-top-nav-id').addClass('is-active');
    {% endif %}

    {% for endorsement in endorsements %}
        var link = "{{ endorsement.media_embed_url }}";
        $("#endorsements-panel").append(`
            <div class="post-container" id="post-container-{{ forloop.counter }}">
                <div class="loader-container">
                    <div class="spinner-holder">
                        <div class="mdl-spinner mdl-js-spinner mdl-spinner--single-color is-active"></div>
                    </div>
                </div>
                <hr />
            </div>
        `);
        $.ajax({
            url: `https://graph.facebook.com/v8.0/instagram_oembed?url=${link}&access_token={% get_access_token %}`,
            async: true,
            success: function (result) {
                $("#post-container-{{ forloop.counter }} .loader-container").remove();
                $("#post-container-{{ forloop.counter }}").prepend(`
                    <div class="mdl-grid header-grid">
                        <div class="mdl-cell mdl-cell--1-col brand-name">
                            {% if endorsement.campaign.brand.user.get_profile_picture %}
                            <img class="brand-picture-display"
                                src="{{ endorsement.campaign.brand.user.get_profile_picture.url }}" />
                            {% else %}
                            <i class="material-icons">local_offer</i>
                            {% endif %}
                        </div>
                        <div class="mdl-cell mdl-cell--11-col brand-name">{{ endorsement.campaign.brand.name }}</div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell--7-col">
                            ${result['html']}
                        </div>
                        <div class="mdl-cell--5-col">
                            <div class="mdl-grid second-grid">
                                <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
                                    <i class="material-icons">access_time</i>
                                </div>
                                <div class="mdl-cell mdl-cell--10-col mdl-cell--7-col-tablet mdl-cell--3-col-phone">{{ endorsement.created_at|timezone:"Asia/Kolkata" }}</div>
                                <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
                                    <i class="material-icons">location_on</i>
                                </div>
                                <div class="mdl-cell mdl-cell--10-col mdl-cell--7-col-tablet mdl-cell--3-col-phone">{{ endorsement.location.name }}</div>
                                <div class="mdl-cell mdl-cell--12-col stat-wrapper">
                                    <div class="mdl-grid">
                                        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                                            <div class="img-cover">
                                                <img src="{% static 'engagement-campaign.png' %}" alt="engagement symbol" />
                                            </div>
                                        </div>
                                        <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                            <div class="stat-heading">Engagement</div>
                                            <div class="stat-number">{{ endorsement.engagement|readable_metric }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col stat-wrapper">
                                    <div class="mdl-grid">
                                        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                                            <div class="img-cover">
                                                <img src="{% static 'impressions-campaign.png' %}" alt="engagement symbol" />
                                            </div>
                                        </div>
                                        <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                            <div class="stat-heading">Impressions</div>
                                            <div class="stat-number">{{ endorsement.impressions|readable_metric }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--12-col stat-wrapper">
                                    <div class="mdl-grid">
                                        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                                            <div class="img-cover">
                                                <img src="{% static 'reach-campaign.png' %}" alt="engagement symbol" />
                                            </div>
                                        </div>
                                        <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                            <div class="stat-heading">Reach</div>
                                            <div class="stat-number">{{ endorsement.reach|readable_metric }}</div>
                                        </div>
                                    </div>
                                </div>
                                {% if endorsement.media_type == 'VIDEO' %}
                                <div class="mdl-cell mdl-cell--12-col stat-wrapper">
                                    <div class="mdl-grid">
                                        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                                            <div class="img-cover">
                                                <img class="video-img" src="{% static 'visibility.svg' %}" alt="engagement symbol" />
                                            </div>
                                        </div>
                                        <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                            <div class="stat-heading">Views</div>
                                            <div class="stat-number">{{ endorsement.video_views|readable_metric }}</div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                `);
                // $('.custom-tab-child').click(function (e) {
                //     e.preventDefault();
                //     var counter = $(this).data('counter');
                //     $(`.active-child[data-counter=${counter}]`).removeClass('active-child');
                //     $(this).addClass('active-child');
                //     $(`.active-custom-panel[data-counter=${counter}]`).removeClass('active-custom-panel');
                //     $(`${$(this).attr('href')}[data-counter=${counter}]`).addClass('active-custom-panel');
                // });
            }
        });
        {% if forloop.last %}
            $("div.post-container:last-child hr").remove();
        {% endif %}
    {% empty %}
        $("#endorsements-panel").append(`
            <div class="no-posts">
                <div>
                    <i class="material-icons">hourglass_empty</i><br />
                    No Data
                </div>
            </div>
        `);
    {% endfor %}
</script>
<style>
    .container {
        width: 90vw;
        margin: auto;
    }

    .profile-picture-display {
        border-radius: 50%;
        width: 12vw;
    }

    .profile-picture-wrapper {
        /* gold: #ffc107 silver: #757575 bronze: #795548 */
        border: 0.5vh solid #795548;
        border-radius: 50%;
        width: fit-content;
        margin: auto;
        padding: 1vh;
    }

    .placeholder-profile-picture {
        font-size: 15vw;
        color: #EEEEEE;
        border: 0.5vh solid #795548;
        border-radius: 50%;
    }

    .first-section {
        text-align: center;
        margin-top: 2vh;
        padding-top: 4vh;
        background-color: #150E41;
        border-radius: 15px;
        min-height: 100vh;
        position: fixed;
        width: 20vw;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .details {
        margin-top: 2vh;
        border-radius: 5px;
        padding: 1vh 2vw;
        font-size: 1.2em;
        color: #EEEEEE;
        text-align: left;
    }

    i.info-icon {
        font-size: 1em;
        vertical-align: middle;
        cursor: help;
        padding-bottom: 4px;
    }

    .mdl-tooltip {
        background-color: #424242;
        font-size: 1em;
    }

    .mdl-tabs__tab {
        color: #EEEEEE;
    }

    .mdl-tabs.is-upgraded .mdl-tabs__tab {
        background-color: #f5f5f5 !important;
        color: #515151 !important;
        border-radius: 15px;
        font-size: 2vh;
        text-transform: none;
        line-height: 2vh;
        font-family: 'Montserrat', sans-serif !important;
        height: 5vh;
        display: flex;
        align-items: center;
        margin-right: 1vw;
    }

    .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
        color: #fff !important;
        background-color: #0471ff !important;
    }

    .mdl-tabs__tab.is-active::after {
        height: 0 !important;
    }

    .mdl-tabs__tab-bar i {
        vertical-align: middle;
        font-size: 1.5em;
    }

    .mdl-tabs__tab-bar {
        border-bottom: none;
        justify-content: start;
        position: fixed;
        width: 100%;
        background-color: #fff;
        z-index: 99999;
        padding-bottom: 1vh;
        border-bottom: 1px solid #828282;
        padding-top: 2vh;
        padding-left: 1vw;
    }

    .mdl-tabs__panel {
        min-height: 100%;
        border-radius: 5px;
        min-height: 60vh;
        padding-top: 10vh;
        margin-top: 0;
        margin-bottom: 5vh;
    }

    .mdl-tabs__panel .mdl-button {
        background-color: #161A1D;
        cursor: auto;
    }

    .main-grid {
        padding-bottom: 0;
        padding-top: 0;
    }

    .main-grid-cell {
        margin-bottom: 0;
        margin-top: 0;
    }

    .panel-heading {
        font-size: 3em;
        padding-top: 4vh;
        font-weight: 300;
    }

    .panel-heading::after {
        content: "";
        display: block;
        border-bottom: 2px solid #161A1D;
        width: 10%;
        position: relative;
        bottom: -20px;
    }

    .panel-description {
        margin-top: 4vh;
    }

    .details .name {
        font-size: 1.5em;
        margin-bottom: 2vh;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

    .details-grid {
        padding: 0vh 2vw;
        text-align: left;
    }

    .details-grid i {
        vertical-align: middle;
    }

    .details-grid a {
        color: #EEEEEE;
        text-decoration: none;
        border-bottom: 1px solid #EEEEEE;
    }

    .details-grid .mdl-cell {
        margin-bottom: 0;
        margin-top: 0.5vh;
    }

    .details-grid .mdl-cell--2-col .inner-content {
        color: #EEEEEE;
        text-align: center;
    }

    .details-grid .mdl-cell--10-col .inner-content {
        font-size: 1.3em;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #EEEEEE;
        height: 100%;
        width: 100%;
        line-height: 1.5;
    }

    .details-grid svg {
        max-width: 1.5vw;
    }

    iframe {
        margin: auto !important;
    }

    .post-container {
        font-size: 1.5em;
        font-weight: 300;
    }

    .post-container .loader-container {
        min-height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .post-container .mdl-cell {
        line-height: 1;
    }

    .post-container .mdl-cell--2-col {
        display: flex;
        justify-content: center;
    }

    .post-container i {
        font-size: 1.5em;
    }

    .post-container .brand-picture-display {
        width: 100%;
        border-radius: 50%;
    }

    .post-container .mdl-grid {
        margin-top: 0;
    }

    .brand-name {
        font-size: 2em;
        font-weight: 300;
        color: #150E41;
        font-family: 'Montserrat', sans-serif;
    }

    .brand-name i {
        font-size: 1.5em;
    }

    hr {
        width: 100%;
        margin-top: 5vh;
        margin-bottom: 3vh;
    }

    .post-container div {
        font-family: 'Montserrat', sans-serif;
    }

    .post-container .mdl-cell--5-col .mdl-grid .mdl-cell--2-col {
        font-family: 'Montserrat', sans-serif;
        align-items: flex-start;
        justify-content: center;
    }

    .post-container .mdl-cell--5-col .mdl-grid.second-grid .mdl-cell {
        color: #515151;
        font-family: 'Montserrat', sans-serif;
    }

    .mdl-grid.second-grid {
        padding-top: 0;
    }

    .post-separator {
        border-color: #161A1D;
        margin-top: 5vh;
        border-width: 8px;
    }

    .no-posts {
        display: flex;
        text-align: center;
        width: 100%;
        height: 100%;
        font-size: 1.5em;
        flex-direction: column;
        margin-top: 20px;
    }

    .no-posts i {
        font-size: 1.5em;
        margin-bottom: 2vh;
    }

    .mdl-spinner__layer {
        border-color: #161A1D !important;
    }

    .img-cover {
        padding: 1.5vh;
        background-color: #f3f3f3;
        width: fit-content;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2vw;
        height: 2vw;
    }

    .custom-tab {
        width: 100%;
        text-align: center;
        margin-top: 2vh;
    }

    .custom-tab-child {
        text-decoration: none;
        text-transform: uppercase;
        color: #161A1D;
        padding: 0.5vh 0.5vw;
        margin-bottom: 2vh;
        font-size: 1em;
        font-size: 14px;
    }

    .active-child {
        border-bottom: 2px solid #161A1D;
    }

    .custom-panel {
        display: none;
    }

    .active-custom-panel {
        display: initial;
    }

    .stat-heading {
        justify-content: center;
        font-size: 1.5em;
        font-weight: 300;
    }

    .stat-number {
        justify-content: center;
        font-size: 3em;
        margin-bottom: 5vh;
        font-weight: 300;
    }

    .header-grid {
        display: flex;
        align-items: center;
    }

    .insta-space {
        color: #fff;
        font-size: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border: 1px solid #fff;
        border-radius: 15px;
        text-align: center;
    }

    .trending-space {
        color: #fff;
        font-size: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border-radius: 15px;
        text-align: center;
        margin-top: 1.5vh !important;
        background-color: #0471ff;
        border: 1px solid #0471ff;
    }

    .instalink-space {
        color: #fff;
        font-size: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border-radius: 15px;
        text-align: center;
        margin-top: 1.5vh !important;
        background-color: #3b4877;
        border: 1px solid #3b4877;
    }

    .video-img {
        max-width: 100%;
        opacity: 0.4;
    }

    @media only screen and (max-width: 900px) {
        .container {
            width: 100vw;
        }

        .mdl-tabs__tab-bar {
            position: initial;
            height: fit-content;
        }

        .first-section {
            position: initial;
            min-height: 0;
            width: 100%;
            padding-bottom: 20px;
            border-radius: 15px;
        }

        .profile-picture-wrapper {
            width: 150px;
            height: 150px;
        }

        .profile-picture-display {
            width: 100%;
        }

        .insta-space {
            font-size: 15px;
        }

        .insta-space svg {
            max-width: unset;
            width: 22px;
        }

        .instalink-space {
            font-size: 15px;
        }

        .trending-space {
            font-size: 15px;
        }

        .trending-space i.info-icon {
            padding-bottom: 0;
        }

        .mdl-tabs__tab {
            overflow: initial;
            margin-bottom: 5px;
        }

        .mdl-tabs__tab-bar {
            padding-top: 0;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .mdl-tabs__panel {
            padding-top: 20px;
        }

        .post-container .mdl-grid .mdl-cell--1-col {
            width: 15%;
            font-size: 20px;
        }

        .post-container .mdl-grid .mdl-cell--11-col {
            font-size: 20px;
            width: 70%;
        }

        iframe {
            min-width: 0 !important;
            margin-top: 2vh !important;
        }

        .post-container .mdl-grid .mdl-cell i {
            font-size: 25px;
        }

        .post-container .mdl-grid .mdl-cell--10-col {
            font-size: 15px;
        }

        .post-container .mdl-cell--5-col {
            margin-top: 2vh;
        }

        .post-container .mdl-grid {
            padding: 0;
        }

        .post-container .mdl-cell .mdl-grid .stat-heading {
            font-size: 15px;
        }

        .post-container .mdl-cell .mdl-grid .stat-number {
            font-size: 30px;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .img-cover {
            width: 25px;
            height: 25px;
        }

        .video-img {
            max-width: 150%;
        }
    }
</style>
{% endblock %}