{% extends base_template %}
{% load brand_tags %}
{% block main %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="container">
    <div class="mdl-grid main-grid">
        <div class="mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="first-section">
                {% if not request.user.is_brand %}
                    {% if request.user.get_profile_picture %}
                    <div class="profile-picture-wrapper">
                        <img class="profile-picture-display" src="{{ request.user.get_profile_picture.url }}" />
                    </div>
                    {% else %}
                    <i class="material-icons placeholder-profile-picture">account_circle</i>
                    {% endif %}
                {% else %}
                    {% if influencer.user.get_profile_picture %}
                    <div class="profile-picture-wrapper">
                        <img class="profile-picture-display" src="{{ influencer.user.get_profile_picture.url }}" />
                    </div>
                    {% else %}
                    <i class="material-icons placeholder-profile-picture">account_circle</i>
                    {% endif %}
                {% endif %}
                <div class="details">
                    <div class="name">
                        {{ fb_permissions.influencer.first_name }}
                        {{ fb_permissions.influencer.last_name }}
                    </div>
                </div>
                <div class="mdl-grid details-grid">
                    <div class="mdl-cell mdl-cell--12-col insta-space">
                        <div class="inner-content">
                            <svg viewBox="0 0 24 24">
                                <path fill="#EEEEEE"
                                    d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z">
                                </path>
                            </svg>
                            {{ fb_permissions.ig_username }}
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col trending-space">
                        <div class="inner-content">
                            <i class="material-icons">trending_up</i>
                            {{ fb_permissions.ig_follower_count }} Followers&nbsp;&nbsp;<i id="follower-count-info" class="material-icons info-icon">info</i>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col instalink-space">
                        <div class="inner-content">
                            <i class="material-icons">open_in_new</i>
                            <a href="https://instagram.com/{{ fb_permissions.ig_username }}" target="_blank" rel="noopener noreferrer">
                                instagram.com/{{ fb_permissions.ig_username|slice:":11" }}{% if brand.website|length >= 11 %}...{% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--8-col main-grid-cell">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar">
                    {% if not request.user.is_brand %}
                        <a href="{% url 'influencer:profile_analytics' %}" class="mdl-tabs__tab is-active">
                            <i class="material-icons">analytics</i>
                            &nbsp;&nbsp;Analytics
                        </a>
                        <a href="{% url 'influencer:profile_endorsements' %}" class="mdl-tabs__tab">
                            <i class="material-icons">dynamic_feed</i>
                            &nbsp;&nbsp;Endorsements
                        </a>
                        <a href="{% url 'influencer:profile_badge' %}" class="mdl-tabs__tab">
                            <i class="material-icons">military_tech</i>
                            &nbsp;&nbsp;Badge
                        </a>
                    {% else %}
                        {% get_encoded_pk influencer.user as encoded_pk %}
                        <a href="{% url 'brand:influencer_analytics' encoded_pk %}" class="mdl-tabs__tab is-active">
                            <i class="material-icons">analytics</i>
                            &nbsp;&nbsp;Analytics
                        </a>
                        <a href="{% url 'brand:influencer_endorsements' encoded_pk %}" class="mdl-tabs__tab">
                            <i class="material-icons">dynamic_feed</i>
                            &nbsp;&nbsp;Endorsements
                        </a>
                        <a href="{% url 'brand:influencer_badge' encoded_pk %}" class="mdl-tabs__tab">
                            <i class="material-icons">military_tech</i>
                            &nbsp;&nbsp;Badge
                        </a>
                    {% endif %}
                </div>
                <div class="mdl-tabs__panel is-active" id="analytics-panel">
                    <div class="stat-section">
                        <div class="panel-heading">
                            Audience City
                        </div>
                        <div class="panel-description">
                            Top 3 cities that audience belongs to.
                        </div>
                        <div class="mdl-grid cities-grid">
                            <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--1-col-phone">
                                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                                    1
                                </button>
                            </div>
                            <div class="mdl-cell mdl-cell--10-col mdl-cell--5-col-tablet mdl-cell--3-col-phone">{{ audience_city_stats.0.0 }}</div>
                            <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--1-col-phone">
                                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                                    2
                                </button>
                            </div>
                            <div class="mdl-cell mdl-cell--10-col mdl-cell--5-col-tablet mdl-cell--3-col-phone">{{ audience_city_stats.1.0 }}</div>
                            <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-tablet mdl-cell--1-col-phone">
                                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                                    3
                                </button>
                            </div>
                            <div class="mdl-cell mdl-cell--10-col mdl-cell--5-col-tablet mdl-cell--3-col-phone">{{ audience_city_stats.2.0 }}</div>
                        </div>
                    </div>
                    <div class="stat-section">
                        <div class="panel-heading">
                            Audience Demographic
                        </div>
                        <div id="demographic-chart" style="width: 100%; height: 50vh"></div>
                    </div>
                    <div class="stat-section">
                        <div class="panel-heading">
                            Impressions
                        </div>
                        <div class="panel-description">
                            In a given day, the total number of times the IG User's IG Media objects (i.e. posts, stories
                            and promotions) have been viewed.
                        </div>
                        <div class="select-container">
                            <select name="impressions">
                                <option value="10">Last 10 Days</option>
                                <option value="30">Last 30 Days</option>
                                <option value="180">Last 6 Months</option>
                                <option value="360">Last 1 Year</option>
                            </select>
                        </div>
                        <div id="impressions-chart" style="width: 100%; height: 40vh"></div>
                    </div>
                    <div class="stat-section">
                        <div class="panel-heading">
                            Follower Count
                        </div>
                        <div class="panel-description">
                            The total number of new followers in a given day.
                        </div>
                        <div class="select-container">
                            <select name="follower-count">
                                <option value="10">Last 10 Days</option>
                                <option value="30">Last 30 Days</option>
                                <option value="180">Last 6 Months</option>
                                <option value="360">Last 1 Year</option>
                            </select>
                        </div>
                        <div id="follower-count-chart" style="width: 100%; height: 40vh"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mdl-tooltip" for="follower-count-info">
    Updated every 3 hours
</div>
<script>
    $('main').css('background-color', '#fff');
    {% if not request.user.is_brand %}
        $('.profile-top-nav').addClass('is-active');
        $('#profile-top-nav-id').addClass('is-active');
    {% endif %}

    // demographic chart
    google.charts.load('current', { 'packages': ['corechart', 'line'] });
    google.charts.setOnLoadCallback(drawPieChart);
    function drawPieChart() {
        {% autoescape off %}
        var demographic_data = {{ audience_demographic }};
        {% endautoescape %}
        demographic_data = [['Dempgraphic', 'Audience']].concat(demographic_data);
        var data = google.visualization.arrayToDataTable(demographic_data);
        var options = {
            title: 'Gender & Age Demographic',
            backgroundColor: 'transparent',
            chartArea: {
                bottom: '10%'
            },
        };
        var chart = new google.visualization.PieChart(document.getElementById('demographic-chart'));
        chart.draw(data, options);
    }

    // impressions chart
    {% autoescape off %}
    var impressions_data = {{ impressions }};
    {% endautoescape %}
    google.charts.setOnLoadCallback(initializeImpressionsChart);
    function initializeImpressionsChart() {
        var data = new google.visualization.DataTable();
        drawImpressionsChart(data, 10);
    }
    function drawImpressionsChart(data, rows) {
        data.addColumn('string');
        data.addColumn('number');
        data.addRows(impressions_data.slice((impressions_data.length - rows)));
        var options = {
            curveType: 'function',
            colors: ['#424242'],
        };
        var chart = new google.charts.Line(document.getElementById('impressions-chart'));
        chart.draw(data, google.charts.Line.convertOptions(options));
    }
    $('select[name="impressions"]').change(function () {
        var rows = parseInt($('select[name="impressions"]').val(), 10);
        if (rows === 360) rows = impressions_data.length;
        drawImpressionsChart(new google.visualization.DataTable(), rows);
    });

    // follower count chart
    {% autoescape off %}
    var follower_count_data = {{ follower_counts }};
    {% endautoescape %}
    google.charts.setOnLoadCallback(initializeFollowerCountChart);
    function initializeFollowerCountChart() {
        var data = new google.visualization.DataTable();
        drawFollowerCountChart(data, 10);
    }
    function drawFollowerCountChart(data, rows) {
        data.addColumn('string');
        data.addColumn('number');
        data.addRows(follower_count_data.slice((follower_count_data.length - rows)));
        var options = {
            curveType: 'function',
            colors: ['#424242'],
        };
        var chart = new google.charts.Line(document.getElementById('follower-count-chart'));
        chart.draw(data, google.charts.Line.convertOptions(options));
    }
    $('select[name="follower-count"]').change(function () {
        var rows = parseInt($('select[name="follower-count"]').val(), 10);
        if (rows === 360) rows = follower_count_data.length;
        drawFollowerCountChart(new google.visualization.DataTable(), rows);
    });
</script>
<style>
    .container {
        width: 90vw;
        margin: auto;
    }

    .profile-picture-display {
        border-radius: 50%;
        width: 12vw;
    }

    .profile-picture-wrapper {
        /* gold: #ffc107 silver: #757575 bronze: #795548 */
        border: 0.5vh solid #795548;
        border-radius: 50%;
        width: fit-content;
        margin: auto;
        padding: 1vh;
    }

    .placeholder-profile-picture {
        font-size: 15vw;
        color: #EEEEEE;
        border: 0.5vh solid #795548;
        border-radius: 50%;
    }

    .first-section {
        text-align: center;
        margin-top: 2vh;
        padding-top: 4vh;
        background-color: #150E41;
        border-radius: 15px;
        min-height: 100vh;
        position: fixed;
        width: 20vw;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .details {
        margin-top: 2vh;
        border-radius: 5px;
        padding: 1vh 2vw;
        font-size: 1.2em;
        color: #EEEEEE;
        text-align: left;
    }

    i.info-icon {
        font-size: 1em;
        vertical-align: middle;
        cursor: help;
        padding-bottom: 4px;
    }

    .mdl-tooltip {
        background-color: #424242;
        font-size: 1em;
    }

    .mdl-tabs__tab {
        color: #EEEEEE;
    }

    .mdl-tabs.is-upgraded .mdl-tabs__tab {
        background-color: #f5f5f5 !important;
        color: #515151 !important;
        border-radius: 15px;
        font-size: 2vh;
        text-transform: none;
        line-height: 2vh;
        font-family: 'Montserrat', sans-serif !important;
        height: 5vh;
        display: flex;
        align-items: center;
        margin-right: 1vw;
    }

    .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
        color: #fff !important;
        background-color: #0471ff !important;
    }

    .mdl-tabs__tab.is-active::after {
        height: 0 !important;
    }

    .mdl-tabs__tab-bar i {
        vertical-align: middle;
        font-size: 1.5em;
    }

    .mdl-tabs__tab-bar {
        border-bottom: none;
        justify-content: start;
        position: fixed;
        width: 100%;
        background-color: #fff;
        z-index: 99999;
        padding-bottom: 1vh;
        border-bottom: 1px solid #828282;
        padding-top: 2vh;
        padding-left: 1vw;
    }

    .mdl-tabs__panel {
        min-height: 100%;
        border-radius: 5px;
        min-height: 60vh;
        padding-top: 10vh;
        margin-top: 0;
        margin-bottom: 5vh;
    }

    .mdl-tabs__panel .mdl-button {
        background-color: #161A1D;
        cursor: auto;
    }

    .main-grid {
        padding-bottom: 0;
        padding-top: 0;
    }

    .main-grid-cell {
        margin-bottom: 0;
        margin-top: 0;
    }

    .panel-heading {
        font-size: 4.5vh;
        padding-top: 4vh;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
        color: #150E41;
    }

    .panel-description {
        margin-top: 4vh;
        font-family: 'Montserrat', sans-serif;
        font-size: 2vh;
    }

    .cities-grid {
        font-size: 2em;
        margin-top: 2vh;
        max-width: 30vw;
        margin-left: 0;
    }

    .cities-grid>.mdl-cell {
        margin: auto;
        padding-bottom: 2vh;
        font-family: 'Montserrat', sans-serif;
    }

    .cities-grid .mdl-cell .mdl-button {
        background-color: #150E41;
        color: #fff !important;
    }

    .details .name {
        font-size: 1.5em;
        margin-bottom: 2vh;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
    }

    #impressions-chart svg rect[fill="#424242"],
    #follower-count-chart svg rect[fill="#424242"] {
        display: none;
    }

    #impressions-chart, #follower-count-chart {
        margin-bottom: 5vh;
    }

    .select-container {
        margin-top: 2vh;
        margin-bottom: 4vh;
    }

    select {
        background: #150E41 !important;
        color: #fff !important;
        cursor: pointer;
        padding: 1vh;
    }

    .details-grid {
        padding: 0vh 2vw;
        text-align: left;
    }

    .details-grid i {
        vertical-align: middle;
    }

    .details-grid a {
        color: #EEEEEE;
        text-decoration: none;
        border-bottom: 1px solid #EEEEEE;
    }

    .details-grid .mdl-cell {
        margin-bottom: 0;
        margin-top: 0.5vh;
    }

    .details-grid .mdl-cell--2-col .inner-content {
        color: #EEEEEE;
        text-align: center;
    }

    .details-grid .mdl-cell--10-col .inner-content {
        font-size: 1.3em;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #EEEEEE;
        height: 100%;
        width: 100%;
        line-height: 1.5;
    }

    .details-grid svg {
        max-width: 1.5vw;
    }

    .insta-space {
        color: #fff;
        font-size: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border: 1px solid #fff;
        border-radius: 15px;
        text-align: center;
    }

    .trending-space {
        color: #fff;
        font-size: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border-radius: 15px;
        text-align: center;
        margin-top: 1.5vh !important;
        background-color: #0471ff;
        border: 1px solid #0471ff;
    }

    .instalink-space {
        color: #fff;
        font-size: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        border-radius: 15px;
        text-align: center;
        margin-top: 1.5vh !important;
        background-color: #3b4877;
        border: 1px solid #3b4877;
    }

    @media only screen and (max-width: 900px) {
        .container {
            width: 100vw;
        }

        .mdl-tabs__tab-bar {
            position: initial;
            height: fit-content;
        }

        .first-section {
            position: initial;
            min-height: 0;
            width: 100%;
            padding-bottom: 20px;
            border-radius: 15px;
        }

        .profile-picture-wrapper {
            width: 150px;
            height: 150px;
        }

        .profile-picture-display {
            width: 100%;
        }

        .img-cover {
            width: 25px;
            height: 25px;
        }

        .insta-space {
            font-size: 15px;
        }

        .insta-space svg {
            max-width: unset;
            width: 22px;
        }

        .instalink-space {
            font-size: 15px;
        }

        .trending-space {
            font-size: 15px;
        }

        .trending-space i.info-icon {
            padding-bottom: 0;
        }

        .mdl-tabs__tab {
            overflow: initial;
            margin-bottom: 5px;
        }

        .mdl-tabs__tab-bar {
            padding-top: 0;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .mdl-tabs__panel {
            padding-top: 0;
        }

        .cities-grid {
            max-width: 100%;
            width: 100%;
        }

        .panel-description {
            font-size: 13px;
        }

        .cities-grid>.mdl-cell {
            font-size: 20px;
        }

        .panel-heading {
            line-height: 4.5vh;
        }
    }
</style>
{% endblock %}