{% extends 'errors/base.html' %}
{% block main %}
<div class="container">
    <div class="i-container"><i class="material-icons">remove_circle</i></div>
    403 Forbidden.<br />You don't have sufficient permissions to access this page.
    <br /><br />
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <a href="{% url 'accounts:contact_us' %}">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored green-btn">
                    <i class="material-icons">question_answer</i>
                    &nbsp;&nbsp;Contact Us
                </button>
            </a>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <a href="{% url 'accounts:landing' %}">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    <i class="material-icons">home</i>
                    &nbsp;&nbsp;Go Home
                </button>
            </a>
        </div>
    </div>
</div>
<style>
    .container {
        text-align: center;
        background-color: #fff;
        color: #414141;
        width: 60vw;
        margin-left: 20vw;
        padding: 2vh 2vw;
        border-radius: 30px;
        margin-top: 10vh;
        font-size: 4vh;
        line-height: 4vh;
    }

    button.mdl-button {
        background-color: #0471ff !important;
        color: #fff !important;
        padding: 1vh !important;
        height: auto;
        width: 100%;
        text-transform: none;
        font-size: 3vh;
        border-radius: 5px;
    }

    button.green-btn {
        background-color: #4cbb2c !important;
    }

    button.mdl-button i {
        font-size: 3vh;
    }

    .i-container {
        text-align: center;
        margin-bottom: 3vh;
    }

    .i-container>i {
        font-size: 4em;
    }

    .container button {
        width: 100%;
    }
</style>
{% endblock %}