{% extends 'noauth/base.html' %}
{% block main %}
<div class="container">
    Looks like you already have an endorsity account with this email ID.<br /><br />
    Do not attempt a Google Sign In, rather enter your email ID and password in the login page.
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <a href="{% url 'accounts:login' %}">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Go To Login
            </button>
            </a>
        </div>
    </div>
</div>
<style>
    .container {
        text-align: center;
        background-color: #fff;
        color: #424242;
        width: 60vw;
        margin-left: 20vw;
        padding: 2vh 2vw;
        border-radius: 30px;
        margin-top: 10vh;
        font-size: 3vh;
        line-height: 3vh;
    }
    .mdl-grid {
        margin-top: 2vh;
    }
    .mdl-grid button.mdl-button {
        background-color: #0471ff !important;
        color: #fff !important;
        padding: 1vh;
        height: auto;
        width: 20vw;
    }
</style>
{% endblock %}