{% extends 'noauth/base.html' %}
{% block main %}
<div class="form-wrapper">
    <div class="heading">Influencer Registration</div>
    <form method="post" class="register-form">
        {% csrf_token %}
        {{ forms.influencer_form.as_p }}
        {{ forms.user_form.as_p }}
        <div class="button-container">
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                type="submit" value="Register" />
        </div>
    </form>
</div>
<script>
    $('p input').addClass('mdl-textfield__input');
</script>
<style>
    .form-wrapper {
        background-color: #EEEEEE;
        width: 40vw;
        margin-left: 30vw;
        margin-top: 10vh;
        border-radius: 5px;
        padding: 2vh 2vw;
    }

    input.mdl-button {
        background-color: #161A1D !important;
        color: #EEEEEE !important;
        font-family: 'Rubik', sans-serif !important;
        padding-top: 1px !important;
        text-align: center;
    }

    .button-container {
        width: 100%;
        text-align: center;
    }

    .heading {
        font-size: 2em;
        margin-bottom: 3vh;
        text-align: center;
    }
</style>
{% endblock %}