{% extends 'noauth/base.html' %}
{% block main %}
<form method="post" class="reset-pass-form">
    <div class="heading">Reset Your Password</div>
    {% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-email">
            {{ form.email.errors }}
            <label for="id_email">Email address:</label>
            {{ form.email }}
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    type="submit" value="Reset my password" />
            </div>
        </div>
    </fieldset>
</form>
<script>
    $('.form-row input').addClass('mdl-textfield__input');
</script>
<style>
    form {
        width: 40vw;
        margin-left: 30vw;
        padding: 2vh 2vw;
        background-color: #EEEEEE;
        margin-top: 10vh;
        border-radius: 5px;
    }

    input.mdl-button {
        background-color: #161A1D !important;
        color: #EEEEEE !important;
        font-family: 'Rubik', sans-serif !important;
        padding-top: 1px !important;
        text-align: center;
        margin: auto;
    }

    .mdl-grid {
        text-align: center;
    }

    .heading {
        font-size: 2em;
        margin-bottom: 3vh;
        text-align: center;
    }
</style>
{% endblock %}