{% extends 'noauth/base.html' %}
{% block main %}
{% if validlink %}

<h3 class="main-heading">Please enter your new password twice so<br />we can verify you typed it in correctly.</h3>
<div class="reset-pass-card-wide mdl-card mdl-shadow--2dp">
    <form method="post" class="reset-pass-form">
        {% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-password1">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">New password:</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-row field-password2">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm password:</label>
                {{ form.new_password2 }}
            </div>
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                type="submit" value="Change my password" />
        </fieldset>
    </form>
</div>

{% else %}

<h3 class="main-heading">
    <span class="material-icons noauth-icons">
        clear
    </span>
    <br /><br />
    The password reset link was invalid, possibly because it has already been used.<br />
    Please request a new password reset.
</h3>

{% endif %}
{% endblock %}