{% extends 'noauth/base.html' %}
{% block main %}
<form method="post" class="reset-pass-form">
    {% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-email">
            {{ form.email.errors }}
            <label for="id_email">Email address:</label>
            {{ form.email }}
        </div>
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit"
            value="Reset my password" />
    </fieldset>
</form>
{% endblock %}
