{% extends 'noauth/base.html' %}
{% block main %}
<div class="container">
    <i class="material-icons">check_circle</i><br /><br />
    Great! You have successfully registered.<br /><br />
    We have emailed you the account activation link. Visit your inbox and click on this activation link to activate your
    account.
</div>
<style>
    .container {
        text-align: center;
        background-color: #fff;
        color: #424242;
        width: 60vw;
        margin-left: 20vw;
        padding: 2vh 2vw;
        border-radius: 30px;
        margin-top: 10vh;
        font-size: 4vh;
        line-height: 4vh;
    }

    .container i {
        font-size: 4em;
    }
</style>
{% endblock %}