{% extends 'noauth/base.html' %}
{% load static %}
{% block main %}
<div class="mobile-header">
    <a href="{% url 'accounts:landing' %}">
        <img src="{% static 'logo.png' %}" alt="Endorsity" class="logo-img" />
        <div class="logo-text">Endorsity</div>
        <!-- <span class="mdl-layout-title">Endorsity</span> -->
    </a>
</div>
<div class="container">
    <i class="material-icons">check_circle</i><br /><br />
    Great! You have successfully registered.<br /><br />
    We have emailed you the account activation link. Visit your inbox and click on this activation link to activate your
    account.
</div>
<style>
    .container {
        text-align: center;
        background-color: #fff;
        color: #424242;
        width: 60vw;
        margin-left: 20vw;
        padding: 2vh 2vw;
        border-radius: 30px;
        margin-top: 10vh;
        font-size: 3vh;
        line-height: 3vh;
        font-family: 'Montserrat', sans-serif;
    }

    .container i {
        font-size: 4em;
    }

    .mobile-header {
        display: none;
    }

    @media only screen and (max-width: 900px) {
        .container {
            width: 80vw;
            margin: auto;
            margin-top: 10vh;
        }

        .mdl-layout__drawer-button {
            margin-top: 2.5vh;
            border-radius: 50%;
            background-color: #150E41;
            align-items: center;
            display: flex;
            justify-content: center;
            border: 1px solid #fff;
        }

        .mobile-header {
            display: block;
            min-height: 13vh;
            max-height: 13vh;
        }

        .mobile-header a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 3vh;
            text-decoration: none;
        }
    }
</style>
{% endblock %}