<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h3 class="main-heading">Complete Registration</h3>
        <div class="choose-card-wide mdl-card mdl-shadow--2dp">
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{% url 'accounts:complete_brand_reg' %}">
                I'm A Brand
            </a><br />
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{% url 'accounts:complete_influencer_reg' %}">
                I'm An Influencer
            </a>
        </div>
    </body>
</html>
