<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1 class="main-heading">Settings</h1>
        <div class="container">
            <h4 class="sub-heading">Account Details</h4>
            <div class="change-card-wide mdl-card mdl-shadow--2dp">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent change-pass" href="{% url 'accounts:profile_picture_change' %}">
                    <i class="material-icons">person</i>
                    &nbsp;&nbsp;Change Profile Picture
                </a>
            </div><br />
            <div class="change-card-wide mdl-card mdl-shadow--2dp">
            <form method="post" class="change-form">
                {% csrf_token %}
                <p>Email address&nbsp;&nbsp;<i id="email-info-icon" class="material-icons info-icon">info</i><br />
                <span class="email-val">{{ user.get_username }}</span></p>
                {{ form.as_p }}
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Save" />
            </form>
            </div>
            <br />
            {% if not user.is_it_google_account %}
                <h4 class="sub-heading">Security</h4>
                <div class="change-card-wide mdl-card mdl-shadow--2dp">
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent change-pass" href="{% url 'accounts:password_change' %}">Change Password</a>
                </div><br /><br />
            {% endif %}
        </div>
    </body>
</html>
