{% extends 'brand/base.html' %}
{% load influencer_tags %}
{% load brand_tags %}
{% load static %}
{% load tz %}
{% block main %}
{% comment %}
<div class="container">
    {% if current_campaign %}
    <div class="campaign-card">
        <div class="timeline mdl-grid">
            <div class="mdl-cell mdl-cell--5-col">
                <span
                    class="day-month-date">{{ current_campaign.start_time|timezone:"Asia/Kolkata"|date:"jN F," }}</span>
                <span class="year-date">&nbsp;{{ current_campaign.start_time|timezone:"Asia/Kolkata"|date:"Y" }}</span>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <i class="material-icons">double_arrow</i>
            </div>
            <div class="mdl-cell mdl-cell--5-col">
                <span class="day-month-date">{{ current_campaign.end_time|timezone:"Asia/Kolkata"|date:"jS F," }}</span>
                <span class="year-date">&nbsp;{{ current_campaign.end_time|timezone:"Asia/Kolkata"|date:"Y" }}</span>
            </div>
        </div>
        <div class="details-btn mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <i class="material-icons campaign-active">stop_circle</i>
                &nbsp;&nbsp;Active
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <i class="material-icons">dynamic_feed</i>
                &nbsp;&nbsp;{% posts current_campaign %} influencer posts
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <a href="{% url 'brand:campaign_details' current_campaign.id %}">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        <i class="material-icons">edit</i>
                        &nbsp;&nbsp;View &amp; Edit Campaign
                    </button>
                </a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="begin-campaign">
        <div class="begin-campaign-message">No Active Campaign</div>
        <div class="begin-campaign-btn">
            <a href="{% url 'brand:initiate_campaign' %}">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Initiate Campaign
                </button>
            </a>
        </div>
    </div>
    {% endif %}
    <hr />
    <div class="heading past-heading">Past Campaigns</div>
    {% for campaign in past_campaigns %}
    <div class="campaign-card">
        <div class="timeline mdl-grid">
            <div class="mdl-cell mdl-cell--5-col">
                <span class="day-month-date">{{ campaign.start_time|timezone:"Asia/Kolkata"|date:"jS F," }}</span>
                <span class="year-date">&nbsp;{{ campaign.start_time|timezone:"Asia/Kolkata"|date:"Y" }}</span>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <i class="material-icons">double_arrow</i>
            </div>
            <div class="mdl-cell mdl-cell--5-col">
                <span class="day-month-date">{{ campaign.end_time|timezone:"Asia/Kolkata"|date:"jS F," }}</span>
                <span class="year-date">&nbsp;{{ campaign.end_time|timezone:"Asia/Kolkata"|date:"Y" }}</span>
            </div>
        </div>
        <div class="details-btn mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
                <i class="material-icons campaign-inactive">stop_circle</i>
                &nbsp;&nbsp;Inactive
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <i class="material-icons">dynamic_feed</i>
                &nbsp;&nbsp;{% posts campaign %} influencer posts
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <a href="{% url 'brand:campaign_details' campaign.id %}">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        <i class="material-icons">pageview</i>
                        &nbsp;&nbsp;View Campaign
                    </button>
                </a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="empty-past">
        <div class="empty-container">
            <div>
                <i class="material-icons">hourglass_empty</i><br />
                No Data
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endcomment %}
<div class="container">
    <div class="current-campaign">
        <div class="mdl-grid top-grid">
            <div class="mdl-cell mdl-cell--4-col left-align">
                <i class="material-icons active-icon">fiber_manual_record</i>
                &nbsp;&nbsp;Campaign Active
            </div>
            <div class="mdl-cell mdl-cell--4-col center-align">
                <i class="material-icons">dynamic_feed</i>
                &nbsp;&nbsp;{% posts current_campaign %} influencer posts
            </div>
            <div class="mdl-cell mdl-cell--4-col right-align">
                <i class="material-icons">event_busy</i>
                &nbsp;&nbsp;Ends on
                {{ current_campaign.end_time|timezone:"Asia/Kolkata"|date:"j N Y" }}
            </div>
        </div>
    </div>
    <div class="header">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--7-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone ">
                Action Locations
            </div>
            <div class="mdl-cell mdl-cell--5-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone ">
                <div class="edit-btn-wrapper">
                    <a class="edit-location-anchor" href="{% url 'brand:edit_active_locations' %}">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            <i class="material-icons edit-location-btn">edit</i>
                            &nbsp;&nbsp;Edit Active Locations
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-grid location-grid">
        {% for location in locations %}
            <div class="mdl-cell mdl-cell--11-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                {{ location.name }}
            </div>
            <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                {% if location.active %}
                <i class="material-icons toggle-on">toggle_on</i>
                {% else %}
                <i class="material-icons toggle-off">toggle_off</i>
                {% endif %}
            </div>
            {% if not forloop.last %}
            <hr />
            {% endif %}
        {% endfor %}
    </div>
    <div class="header">Influencer Posts</div>
    {% for post in posts %}
        <div class="post-section">
            <div class="mdl-grid post-section-top-grid">
                <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
                    {% if post.influencer.user.get_profile_picture %}
                    <img class="profile-picture-display" src="{{ post.influencer.user.get_profile_picture.url }}" />
                    {% else %}
                    <i class="material-icons placeholder-profile-picture">account_circle</i>
                    {% endif %}
                </div>
                <div class="mdl-cell mdl-cell--11-col mdl-cell--7-col-tablet mdl-cell--3-col-phone">
                    &nbsp;&nbsp;{{ post.influencer.first_name }} {{ post.influencer.last_name }}
                </div>
            </div>
            <div class="mdl-grid">
                <div
                    id="insta-embed-{{ forloop.counter0 }}"
                    class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone"
                    data-instalink="{{ post.media_embed_url }}"
                >
                    <div class="spinner-wrapper">
                        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone post-right-side">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
                            <i class="material-icons">access_time</i>
                        </div>
                        <div class="mdl-cell mdl-cell--11-col mdl-cell--7-col-tablet mdl-cell--3-col-phone">{{ post.created_at|timezone:"Asia/Kolkata" }}</div>
                        <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet mdl-cell--1-col-phone">
                            <i class="material-icons">location_on</i>
                        </div>
                        <div class="mdl-cell mdl-cell--11-col mdl-cell--7-col-tablet mdl-cell--3-col-phone">{{ post.location.name }}</div>
                        <div class="mdl-cell mdl-cell--12-col separator-cell"></div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                                    <div class="img-cover">
                                        <img src="{% static 'engagement-campaign.png' %}" alt="engagement symbol" />
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                    <div class="stat-heading">Engagement</div>
                                    <div class="stat-number">{{ post.engagement|readable_metric }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                                    <div class="img-cover">
                                        <img src="{% static 'impressions-campaign.png' %}" alt="engagement symbol" />
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                    <div class="stat-heading">Impressions</div>
                                    <div class="stat-number">{{ post.impressions|readable_metric }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--12-col">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                                    <div class="img-cover">
                                        <img src="{% static 'reach-campaign.png' %}" alt="engagement symbol" />
                                    </div>
                                </div>
                                <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                    <div class="stat-heading">Reach</div>
                                    <div class="stat-number">{{ post.reach|readable_metric }}</div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="mdl-cell mdl-cell--12-col stat-heading">Impressions</div>
                        <div class="mdl-cell mdl-cell--12-col stat-number">200{{ post.impressions }}</div>
                        <div class="mdl-cell mdl-cell--12-col stat-heading">Reach</div>
                        <div class="mdl-cell mdl-cell--12-col stat-number">200{{ post.reach }}</div> -->
                        {% if post.media_type == 'VIDEO' %}
                            <div class="mdl-cell mdl-cell--12-col stat-wrapper">
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                                        <div class="img-cover">
                                            <img class="video-img" src="{% static 'visibility.svg' %}" alt="engagement symbol" />
                                        </div>
                                    </div>
                                    <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                        <div class="stat-heading">Views</div>
                                        <div class="stat-number">{{ post.video_views|readable_metric }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if not forloop.last %}
        <hr />
        {% endif %}
    {% empty %}
        <div class="empty-posts">
            No posts yet.
        </div>
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/js-base64@3.5.2/base64.min.js"></script>
<script>
    $('main').css('background-color', '#fff');
    $('.campaigns-top-nav').addClass('is-active');
    $('.post-section').each(function(index) {
        $.ajax({
            url: `/brand/fetch-insta-html/${Base64.encodeURI($(`#insta-embed-${index}`).attr('data-instalink'))}/`,
            async: true,
            success: function (result) {
                $(`#insta-embed-${index} .spinner-wrapper`).remove();
                $(`#insta-embed-${index}`).append(result['html']);
            }
        });
    });
    function changeOnSmallScreen(x) {
        if (x.matches) {
            document.querySelector('.edit-btn-wrapper button').innerHTML = '<i class="material-icons edit-location-btn">edit</i>';
        }
    }
    var x = window.matchMedia("(max-width: 900px)")
    changeOnSmallScreen(x);
    x.addListener(changeOnSmallScreen)
</script>
<style>
    .container {
        width: 65vw;
        margin: auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 2vh 2vw;
    }

    .current-campaign .top-grid i {
        vertical-align: middle;
        font-size: 1em;
    }

    .active-icon {
        color: #00e676;
    }

    .current-campaign .top-grid {
        font-size: 1.5em;
    }

    .current-campaign .top-grid .mdl-cell {
        padding-top: 1vh;
        padding-bottom: 1vh;
        font-family: 'Montserrat', sans-serif;
    }

    .current-campaign .top-grid .left-align {
        border-radius: 15px;
        display: flex;
        justify-content: center;
        background-color: #f5f5f5;
        color: #424242;
    }

    .current-campaign .top-grid .right-align {
        text-align: center;
        color: #e53935;
    }

    .current-campaign .top-grid .center-align {
        text-align: center;
    }

    .header {
        font-size: 2.5em;
        font-weight: 300;
        margin-top: 5vh;
        padding-bottom: 2vh;
        border-bottom: 1px solid #9e9e9e;
        color: #150e41;
        font-family: 'Montserrat', sans-serif;
    }

    .header .mdl-cell--7-col {
        color: #150e41;
        font-family: 'Montserrat', sans-serif;
    }

    .location-grid {
        margin-top: 2vh;
        color: #515151;
    }

    .location-grid .mdl-cell {
        font-family: 'Montserrat', sans-serif;
    }

    .location-grid i {
        font-size: 3em;
        vertical-align: middle;
    }

    .location-grid .mdl-cell--11-col-desktop {
        font-size: 1.5em;
        line-height: 1;
    }

    .location-grid hr {
        width: 100%;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    i.toggle-on {
        color: #0471ff;
    }

    i.toggle-off {
        color: #9e9e9e;
    }

    .profile-picture-display {
        border-radius: 50%;
        width: 100%;
    }

    .placeholder-profile-picture {
        font-size: 8vw;
        color: #161A1D;
    }

    .placeholder-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .post-section {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .post-section-top-grid {
        display: flex;
        align-items: center;
        color: #515151;
    }

    .post-section-top-grid .mdl-cell--11-col {
        font-size: 2.5em;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif
    }

    .post-section-top-grid hr {
        width: 100%;
        margin-top: 0;
    }

    .img-cover {
        padding: 2vh;
        background-color: #f3f3f3;
        width: fit-content;
        border-radius: 50%;
        position: relative;
        width: 2.5vw;
        height: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mdl-spinner__layer {
        border-color: #161A1D !important;
    }

    .post-right-side {
        font-size: 1.5em;
        color: #515151;
    }

    .post-right-side .mdl-grid .mdl-cell {
        font-family: 'Montserrat', sans-serif;
    }

    .stat-number {
        font-size: 3em;
        font-weight: 300;
        margin-bottom: 5vh;
        margin-top: 3vh;
        font-family: 'Montserrat', sans-serif;
    }

    .stat-heading {
        font-family: 'Montserrat', sans-serif;
    }

    .separator-cell {
        margin-bottom: 3vh;
    }

    .edit-btn-wrapper {
        width: 100%;
    }

    .edit-location-anchor {
        width: 100%;
    }

    .edit-location-anchor > button {
        width: 100%;
        background-color: #fff !important;
        color: #424242 !important;
        margin-top: 0;
        border: 2px solid #424242;
    }

    .header .mdl-grid {
        padding: 0;
    }

    .header .mdl-grid .mdl-cell {
        display: flex;
        align-items: center;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }

    .empty-posts {
        text-align: center;
        padding: 4vh;
        font-size: 2em;
    }

    .inactive-campaign {
        font-size: 2em;
        padding: 5vh;
        text-align: center;
    }

    .inactive-campaign button {
        margin-top: 5vh;
        background-color: #161A1D !important;
        color: #EEEEEE !important;
    }

    .video-img {
        max-width: 100%;
        opacity: 0.4;
    }

    @media only screen and (max-width: 900px) {
        .container {
            width: 95vw;
        }

        .current-campaign .top-grid {
            font-size: 1em;
        }

        .current-campaign .top-grid i {
            margin: auto 0;
        }

        .current-campaign .top-grid .mdl-cell {
            margin: 0;
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .header .mdl-grid {
            justify-content: center;
        }

        .header .mdl-grid .mdl-cell {
            font-size: 22px;
        }

        .edit-btn-wrapper button.mdl-button--colored {
            height: fit-content;
        }

        .location-grid .mdl-cell {
            font-size: 1.1em;
        }

        .header {
            font-size: 30px;
            text-align: center;
        }

        .profile-picture-display {
            width: 80%;
            text-align: right;
        }

        iframe {
            min-width: 0 !important;
        }

        .post-section-top-grid .mdl-cell {
            font-size: 20px;
            text-align: left;
        }

        .post-section-top-grid .mdl-cell:first-child {
            text-align: right;
        }

        .post-right-side .mdl-grid .mdl-cell--1-col {
            width: 10%;
            font-size: 20px;
        }

        .post-right-side .mdl-grid .mdl-cell--11-col {
            width: 70%;
            font-size: 15px;
        }

        .post-right-side .mdl-grid .mdl-cell i {
            font-size: 25px;
        }

        .post-right-side .mdl-cell .mdl-grid {
            padding: 0;
        }

        .post-right-side .mdl-cell .mdl-grid .stat-heading {
            font-size: 15px;
        }

        .post-right-side .mdl-cell .mdl-grid .stat-number {
            font-size: 30px;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .img-cover {
            width: 25px;
            height: 25px;
        }

        .separator-cell {
            display: none;
        }

        .video-img {
            max-width: 150%;
        }
    }
</style>
{% endblock %}