{% extends 'brand/base.html' %}
{% load brand_tags %}
{% block main %}
<div class="container">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
            <a href="#all-influencers-panel" class="mdl-tabs__tab is-active">All Influencers</a>
            <a href="#your-influencers-panel" class="mdl-tabs__tab">Your Influencers</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="all-influencers-panel">
            <div class="all-influencer-container">
            </div>
            <button id="load-more" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Load More
            </button>
        </div>
        <div class="mdl-tabs__panel" id="your-influencers-panel">
            {% for inf in your_influencers %}
            <div class="influencer-card">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                        {% if inf.influencer.user.get_profile_picture %}
                        <img class="profile-picture-display" src="{{ inf.influencer.user.get_profile_picture.url }}" />
                        {% else %}
                        <i class="material-icons placeholder-profile-picture">account_circle</i>
                        {% endif %}
                    </div>
                    <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col name-cell">
                                {{ inf.influencer.first_name }} {{ inf.influencer.last_name }}
                                {% get_encoded_pk inf.influencer.user as encoded_pk %}
                                <div>
                                    <a href="{% url 'brand:influencer_analytics' encoded_pk %}">
                                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                            View Influencer Profile
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <hr />
                            <div class="mdl-cell mdl-cell--6-col insta-cell">
                                <svg viewBox="0 0 24 24">
                                    <path fill="#161A1D"
                                        d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z">
                                    </path>
                                </svg>
                                &nbsp;&nbsp;{{ inf }}
                            </div>
                            <div class="mdl-cell mdl-cell--6-col followers-cell">
                                <i class="material-icons">trending_up</i>
                                &nbsp;&nbsp;{% get_follower_count inf %} followers
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="empty-influencers">
                No influencers who have endorsed you yet.
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    $('.influencers-top-nav').addClass('is-active');
    $('main').css('background-color', '#fff');
    var add_influencer_data = () => {
        $('#load-more').attr("disabled", true);
        $.ajax({
            cache: false,
            url: `/brand/fetch-influencers/${ $(window).data('page_no') }/`,
            success: function (result) {
                if (result.length === 0) {
                    $('#load-more').html('No more results.');
                    return;
                }
                for (var influencer = 0; influencer < result.length; influencer++) {
                    $(`.all-influencer-container`).append(`
                        <div class="influencer-card">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    ${
                                        (result[influencer]['fields']['profile_picture'])
                                        ? `
                                            <img
                                                class="profile-picture-display"
                                                src="${result[influencer]['fields']['profile_picture']}"
                                            />`
                                        : '<div class="placeholder-wrapper"><i class="material-icons placeholder-profile-picture">account_circle</i></div>'
                                    }
                                </div>
                                <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                                    <div class="mdl-grid">
                                        <div class="mdl-cell mdl-cell--12-col name-cell">
                                            ${result[influencer]['fields']['first_name']} ${result[influencer]['fields']['last_name']}
                                            <div>
                                                <a href="/brand/influencer/${result[influencer]['fields']['user_encoded_pk']}/analytics/">
                                                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                                        View Influencer Profile
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="mdl-cell mdl-cell--6-col insta-cell">
                                            <svg viewBox="0 0 24 24">
                                                <path fill="#161A1D"
                                                    d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z">
                                                </path>
                                            </svg>
                                            &nbsp;&nbsp;${result[influencer]['fields']['username']}
                                        </div>
                                        <div class="mdl-cell mdl-cell--6-col followers-cell">
                                            <i class="material-icons">trending_up</i>
                                            &nbsp;&nbsp;${result[influencer]['fields']['follower_count']} followers
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `);
                }
                $('#load-more').attr("disabled", false);
                $(window).data('page_no', $(window).data('page_no') + 1);
            }
        });
    };
    $(window).data('page_no', 1);
    add_influencer_data();
    $('#load-more').click(() => {add_influencer_data();});
</script>
<style>
    .container {
        width: 65vw;
        margin: auto;
        padding-top: 2vh;
        margin-bottom: 2vh;
    }

    .mdl-tabs__tab-bar {
        justify-content: start;
    }

    .mdl-tabs__tab {
        color: #EEEEEE;
    }

    .mdl-tabs.is-upgraded .mdl-tabs__tab {
        background-color: #f5f5f5 !important;
        color: #515151 !important;
        border-radius: 15px;
        font-size: 2vh;
        text-transform: none;
        line-height: 2vh;
        font-family: 'Montserrat', sans-serif !important;
        height: 5vh;
        display: flex;
        align-items: center;
        margin-right: 1vw;
    }

    .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
        color: #fff !important;
        background-color: #0471ff !important;
    }

    .mdl-tabs__tab.is-active::after {
        height: 0 !important;
    }

    .mdl-tabs__tab-bar i {
        vertical-align: middle;
        font-size: 1.5em;
    }

    .mdl-tabs__tab-bar {
        border-bottom: none;
    }

    .mdl-tabs__panel {
        margin-top: 2vh;
        border-radius: 5px;
    }

    .profile-picture-display {
        border-radius: 50%;
        width: 100%;
    }

    .placeholder-profile-picture {
        font-size: 8vw;
        color: #161A1D;
    }

    .placeholder-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .name-cell {
        font-size: 2.5em;
        font-weight: 300;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        color: #150E41;
        font-family: 'Montserrat', sans-serif;
    }

    .name-cell div {
        margin-left: auto;
    }

    .insta-cell {
        font-size: 1.5em;
        margin-top: 3vh;
    }

    .insta-cell svg {
        width: 1.5em;
    }

    .followers-cell {
        font-size: 1.5em;
        margin-top: 3vh;
        text-align: right;
    }

    .followers-cell i {
        font-size: 1.5em;
        vertical-align: middle;
    }

    .influencer-card {
        padding: 2vh 2vw;
        padding-bottom: 0vh;
    }

    .influencer-card hr {
        width: 100%;
        margin-bottom: 0;
    }

    .name-cell button {
        background: #fff !important;
        color: #3d3d3d !important;
        margin-top: 0;
        border: 1px solid #707070;
    }

    .empty-influencers {
        text-align: center;
        font-size: 2em;
        padding: 5vh;
    }

    #load-more {
        width: 80%;
        margin-left: 10%;
        background-color: #0471ff !important;
        color: #fff !important;
        margin-bottom: 20px;
    }

    #load-more:disabled {
        background-color: #bdbdbd !important;
    }

    @media only screen and (max-width: 900px) {
        .container {
            width: 95vw;
        }

        .mdl-tabs__tab-bar {
            justify-content: center;
        }

        hr {
            display: none;
        }

        .influencer-card .mdl-cell {
            display: flex;
            justify-content: center;
        }

        .profile-picture-display {
            width: 50%;
        }

        .placeholder-profile-picture {
            font-size: 100px;
        }

        .mdl-cell.name-cell {
            font-size: 30px;
            line-height: 30px;
            display: inline-block;
            text-align: center;
        }

        .name-cell div {
            margin-top: 10px;
        }

        .name-cell button {
            font-size: 15px;
        }

        .insta-cell {
            display: flex;
            align-items: center;
            margin-bottom: 0;
        }

        .followers-cell {
            display: flex;
            align-items: center;
            margin-top: 0;
        }
    }
</style>
{% endblock %}