{% extends 'accounts/complete_registration/base.html' %}
{% block main %}
<div class="container">
    <div class="heading">Complete Brand Registration</div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit"
            value="Complete Registration" />
    </form>
</div>
<div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--right" for="store-location-label">
    If you have multiple stores, you can add other store locations from the dashboard after registration.
</div>
<script>
    $('p input').addClass('mdl-textfield__input');
    $('label[for="id_phone_number"]').html('Phone number (10-digit):');
    $('label[for="id_website"]').html('Website (Optional):');
    $('label[for="id_instagram_handle"]').html('Instagram handle (Optional):');
    $('label[for="id_store_location"]').attr('id', 'store-location-label');
    $('label[for="id_store_location"]').append('&nbsp;<i class="material-icons">info</i>');
    var initializeMaps = () => {
        var maps_input = document.getElementById('id_store_location');
        new google.maps.places.Autocomplete(maps_input);
        $('#id_store_location').attr('placeholder', '');
    };
</script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpgqiVV0SVKh5pRtddZkxtrMD4Gtty3xk&libraries=places&callback=initializeMaps"
    async defer></script>
<style>
    .container {
        width: 40vw;
        margin-left: 30vw;
        background-color: #EEEEEE;
        color: #161A1D;
        border-radius: 5px;
        margin-top: 10vh;
        padding: 2vh 2vw;
    }

    .heading {
        font-size: 2em;
        text-align: center;
        margin-bottom: 4vh;
    }

    .container .mdl-button {
        color: #EEEEEE !important;
        background-color: #161A1D !important;
        margin-top: 2vh;
        width: 100%;
    }

    .errorlist {
        background-color: #DD2C00;
        border-radius: 5px;
        color: #EEEEEE;
    }

    .mdl-tooltip {
        font-size: 0.8em;
    }

    p>label>i.material-icons {
        font-size: 1.2em;
        vertical-align: middle;
        padding-bottom: 3px;
    }
</style>
{% endblock %}