{% extends 'accounts/complete_registration/base.html' %}
{% block main %}
<div class="container">
    <div class="heading">Complete Influencer Registration</div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit"
            value="Complete Registration" />
    </form>
</div>
<script>
    $('p input').addClass('mdl-textfield__input');
    $('label[for="id_phone_number"]').html('Phone number (10-digit):');
    $('input').attr('autocomplete', 'off');
</script>
<style>
    .container {
        width: 40vw;
        margin-left: 30vw;
        background-color: #fff;
        color: #161A1D;
        border-radius: 5px;
        margin-top: 10vh;
        padding: 2vh 2vw;
    }

    .heading {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 3vh;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: #150e41;
        margin-top: 2vh;
        margin-bottom: 4vh;
        font-weight: bold;
    }

    .container .mdl-button {
        background-color: #0471ff !important;
        color: #fff !important;
        font-family: 'Montserrat', sans-serif !important;
        padding: 1vh !important;
        height: auto;
        text-align: center;
        border-radius: 10px;
        text-transform: none;
        font-size: 2.5vh;
        width: 100%;
    }

    .errorlist {
        background-color: #DD2C00;
        border-radius: 5px;
        color: #EEEEEE;
    }

    @media only screen and (max-width: 900px) {
        .container {
            width: 80vw;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
</style>
{% endblock %}