{% extends 'accounts/account_change/base.html' %}
{% block main %}
<div class="container">
    <i class="material-icons" id="pass-change-done-icon">done_all</i>
    <br /><br />
    Your password was changed.
</div>
<style>
    .container {
        background-color: #EEEEEE;
        color: #161A1D;
        border-radius: 5px;
        width: 40vw;
        margin-left: 30vw;
        padding: 2vh 2vw;
        text-align: center;
        margin-top: 10vh;
        font-size: 1.5em;
    }

    .container i {
        font-size: 4em;
    }
</style>
{% endblock %}