{% extends 'accounts/account_change/base.html' %}
{% block main %}
<div class="container">
    <div class="heading">CHANGE YOUR PASSWORD</div>
    <form method="post" class="change-form">
        <div>
            <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can
                verify you typed it in correctly.</p>
            {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors
                below.{% endif %}
            </p>
            {% endif %}
            <fieldset class="module aligned wide">
                {% csrf_token %}
                <div class="form-row">
                    {{ form.old_password.errors }}
                    {{ form.old_password.label_tag }} {{ form.old_password }}
                </div>
                <div class="form-row">
                    {{ form.new_password1.errors }}
                    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                    {% if form.new_password1.help_text %}
                    <div class="help">{{ form.new_password1.help_text|safe }}</div>
                    {% endif %}
                </div>
                <div class="form-row">
                    {{ form.new_password2.errors }}
                    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                    {% if form.new_password2.help_text %}
                    <div class="help">{{ form.new_password2.help_text|safe }}</div>
                    {% endif %}
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="Change my password"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" />
            </div>
        </div>
    </form>
</div>
<script>
    $('fieldset input').addClass('mdl-textfield__input');
</script>
<style>
    .container {
        background-color: #fff;
        width: 60vw;
        border-radius: 5px;
        padding: 2vh 2vw;
        margin: auto;
        margin-top: 4vh;
        color: #424242;
    }

    .form-row {
        margin-bottom: 2vh;
    }

    .submit-row .mdl-button {
        width: 100%;
        background-color: #0471ff !important;
        color: #fff !important;
        border-radius: 15px;
        font-size: 2vh;
        line-height: 2vh;
        font-family: 'Montserrat', sans-serif !important;
        height: 5vh;
        margin-top: 1.2vh;
    }
    .heading {
        font-size: 4vh;
        font-weight: 300;
        padding-top: 2vh;
        color: #150e41;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-bottom: 4vh;
    }
</style>
{% endblock %}