{% extends 'accounts/account_change/base.html' %}
{% block main %}
<div class="container">
    <div class="heading">Change Your Password</div>
    <form method="post" class="change-form">
        <div>
            <p>Please enter your old password, for security’s sake, and then enter your new password twice so we can
                verify you typed it in correctly.</p>
            {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors
                below.{% endif %}
            </p>
            {% endif %}
            <fieldset class="module aligned wide">
                {% csrf_token %}
                <div class="form-row">
                    {{ form.old_password.errors }}
                    {{ form.old_password.label_tag }} {{ form.old_password }}
                </div>
                <div class="form-row">
                    {{ form.new_password1.errors }}
                    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                    {% if form.new_password1.help_text %}
                    <div class="help">{{ form.new_password1.help_text|safe }}</div>
                    {% endif %}
                </div>
                <div class="form-row">
                    {{ form.new_password2.errors }}
                    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                    {% if form.new_password2.help_text %}
                    <div class="help">{{ form.new_password2.help_text|safe }}</div>
                    {% endif %}
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="Change my password"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" />
            </div>
        </div>
    </form>
</div>
<script>
    $('fieldset input').addClass('mdl-textfield__input');
</script>
<style>
    .container {
        background-color: #EEEEEE;
        color: #161A1D;
        border-radius: 5px;
        width: 40vw;
        margin-left: 30vw;
        padding: 2vh 2vw;
        margin-top: 10vh;
    }

    .submit-row .mdl-button {
        color: #EEEEEE !important;
        background-color: #161A1D !important;
        margin-top: 2vh;
        margin-bottom: 2vh;
        text-align: center;
        width: 100%;
    }
    .heading {
        font-size: 2em;
        text-align: center;
        margin-bottom: 3vh;
    }
</style>
{% endblock %}