{% extends 'accounts/account_change/base.html' %}
{% load accounts_tags %}
{% block main %}
<div class="container">
    <div class="heading">CHANGE PROFILE PICTURE</div>
    <div>
        {% if request.user.get_profile_picture %}
        <img class="profile-picture-display" src="{{ request.user.get_profile_picture.url }}?rand={% random_string %}" />
        {% endif %}
        <br />
        <form method="post" enctype="multipart/form-data" id="profile_picture_form">
            {% csrf_token %}
            <label class="edit-profile-picture" for="id_profile_picture">
                <i class="material-icons">edit</i>&nbsp;&nbsp;Select Picture
                <input type="file" name="profile_picture" id="id_profile_picture" />
            </label><br /><br />
        </form>
    </div>
</div>
<script>
    $('#id_profile_picture').change(function () {
        $('#profile_picture_form').submit();
    });
    $('.edit-profile-picture').addClass('mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent')
</script>
<style>
    .container {
        background-color: #fff;
        color: #161A1D;
        border-radius: 5px;
        width: 60vw;
        padding: 2vh 2vw;
        text-align: center;
        margin: auto;
        margin-top: 5vh;
    }

    .heading {
        font-size: 4vh;
        font-weight: 300;
        padding-top: 2vh;
        color: #150e41;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-bottom: 4vh;
    }

    .edit-profile-picture>input {
        display: none;
    }

    .profile-picture-display {
        margin-bottom: 2vh;
    }

    .container .mdl-button {
        background-color: #0471ff !important;
        color: #fff !important;
        border-radius: 15px;
        font-size: 2vh;
        line-height: 2vh;
        font-family: 'Montserrat', sans-serif !important;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30vw;
        margin: auto;
        margin-top: 1.2vh;
        margin-bottom: 2vh;
    }
</style>
{% endblock %}