{% extends 'accounts/account_change/base.html' %}
{% block main %}
<div class="container">
    <div class="heading">SETTINGS</div>
    <div class="button-container">
        <a href="{% url 'accounts:profile_picture_change' %}">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="material-icons">person</i>
                &nbsp;&nbsp;Change Profile Picture
            </button>
        </a>
    </div>
    <div class="sub-heading">Account Details</div>
    <form method="post">
        {% csrf_token %}
        <p>Email address:<br />
            <span class="email-val">{{ user.get_username }}</span></p>
        {{ form.as_p }}
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit"
            value="Save" />
    </form>
    {% if not user.is_it_google_account %}
    <div class="sub-heading">Security</div>
    <div class="button-container">
        <a href="{% url 'accounts:password_change' %}">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="material-icons">security</i>
                &nbsp;&nbsp;Change Password
            </button>
        </a>
    </div>
    {% endif %}
</div>
<script>
    $('p input').addClass('mdl-textfield__input');
</script>
<style>
    .container {
        width: 65vw;
        background-color: #fff;
        border-radius: 5px;
        color: #161A1D;
        padding: 2vh 2vw;
        margin: auto;
        margin-top: 3vh;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .heading {
        font-size: 4vh;
        font-weight: 300;
        padding-top: 2vh;
        color: #150e41;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-bottom: 4vh;
    }

    .sub-heading {
        font-family: 'Montserrat', sans-serif;
        color: #000;
        font-size: 3vh;
        margin-top: 4vh;
        margin-bottom: 2vh;
    }

    .button-container {
        text-align: center;
        width: 100%;
    }

    a {
        text-decoration: none;
    }

    .button-container .mdl-button {
        background-color: #0471ff !important;
        color: #fff !important;
        border-radius: 15px;
        font-size: 2vh;
        text-transform: none;
        line-height: 2vh;
        font-family: 'Montserrat', sans-serif !important;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    form {
        margin-top: 4vh;
    }

    form .mdl-button {
        background-color: #0471ff !important;
        color: #fff !important;
        border-radius: 15px;
        font-size: 2vh;
        text-transform: none;
        line-height: 2vh;
        font-family: 'Montserrat', sans-serif !important;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    form p {
        font-family: 'Montserrat', sans-serif;
        color: #515151;
        font-size: 2vh;
    }

    label {
        font-family: 'Montserrat', sans-serif;
        color: #515151;
        font-size: 2vh;
    }

    p input {
        margin-top: 0.5vh !important;
        margin-bottom: 3vh !important;
    }

    @media only screen and (max-width: 900px) {
        .container {
            width: 85%;
            margin-bottom: 20px;
            border-radius: 5px;
        }
    }
</style>
{% endblock %}