{% extends 'noauth/base.html' %}
{% block main %}
{% load static %}
<div class="mobile-header">
    <a href="{% url 'accounts:landing' %}">
        <img src="{% static 'logo.png' %}" alt="Endorsity" class="logo-img" />
        <div class="logo-text">Endorsity</div>
        <!-- <span class="mdl-layout-title">Endorsity</span> -->
    </a>
</div>
<form method="post" class="reset-pass-form">
    <div class="heading">Reset Your Password</div>
    {% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-email">
            {{ form.email.errors }}
            <label for="id_email">Email address:</label>
            {{ form.email }}
        </div>
        <div class="h-captcha" data-sitekey="563ac64e-bb9b-47a7-8729-162c2ecf7dda"></div>
        <script src="https://hcaptcha.com/1/api.js" async defer></script>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    type="submit" value="Reset My Password" />
            </div>
        </div>
    </fieldset>
</form>
<script>
    $('.form-row input').addClass('mdl-textfield__input');
    $('input').attr('autocomplete', 'off');
    const mobJsFn = (mobJs) => {
        if (mobJs.matches) { // If media query matches
            $('.h-captcha').attr('data-size', 'compact');
        } else {
            $('.h-captcha').attr('data-size', 'normal');
        }
    };
    var mobJs = window.matchMedia("(max-width: 900px)");
    mobJsFn(mobJs);
    mobJs.addListener(mobJsFn);
</script>
<style>
    form {
        width: 40vw;
        margin-left: 30vw;
        padding: 2vh 2vw;
        background-color: #fff;
        margin-top: 10vh;
        border-radius: 5px;
        color: #424242;
    }

    input.mdl-button {
        background-color: #0471ff !important;
        color: #fff !important;
        font-family: 'Montserrat', sans-serif !important;
        padding: 1vh;
        height: auto;
        width: 20vw;
        border-radius: 5px;
        font-size: 2vh;
        text-transform: none;
    }

    .mdl-grid {
        text-align: center;
    }

    .heading {
        font-size: 2em;
        margin-bottom: 3vh;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: #150e41;
        margin-top: 2vh;
        margin-bottom: 4vh;
        font-weight: bold;
    }

    .field-email {
        margin-bottom: 2vh;
    }

    .mobile-header {
        display: none;
    }

    @media only screen and (max-width: 900px) {
        .mdl-layout__drawer-button {
            margin-top: 2.5vh;
            border-radius: 50%;
            background-color: #150E41;
            align-items: center;
            display: flex;
            justify-content: center;
            border: 1px solid #fff;
        }

        .mobile-header {
            display: block;
            min-height: 13vh;
            max-height: 13vh;
        }

        .mobile-header a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 3vh;
            text-decoration: none;
        }

        .logo-img {
            height: 40px;
        }

        .logo-text {
            font-size: 4.5vh;
            padding-left: 10px;
            font-family: 'Quicksand', sans-serif;
            color: #E0E0E0;
        }

        form {
            width: 80%;
            margin: auto;
            margin-top: 5vh;
            padding: 2vh;
        }

        .heading {
            font-size: 3vh;
            line-height: 4vh;
        }

        input.mdl-button {
            width: 100%;
            font-size: 3vh;
        }

        .h-captcha {
            display: flex;
            justify-content: center;
        }
    }
</style>
{% endblock %}