{% extends 'noauth/base.html' %}
{% block main %}
{% load static %}
<div class="mobile-header">
    <a href="{% url 'accounts:landing' %}">
        <img src="{% static 'logo.png' %}" alt="Endorsity" class="logo-img" />
        <div class="logo-text">Endorsity</div>
        <!-- <span class="mdl-layout-title">Endorsity</span> -->
    </a>
</div>
{% if validlink %}
<div class="container">
    <div class="heading">Please enter your new password twice so we can verify you typed it in correctly.</div>
    <div class="reset-pass-card-wide">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <div class="form-row field-password1">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-row field-password2">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label>
                    {{ form.new_password2 }}
                </div>
                <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    type="submit" value="Change My Password" />
            </fieldset>
        </form>
    </div>
</div>
{% else %}
<div class="container">
    <div class="heading">
        <div class="i-container">
            <i class="material-icons">
                clear
            </i>
        </div>
        The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
    </div>
</div>
{% endif %}
<script>
    $('input').addClass('mdl-textfield__input');
    $('input').attr('autocomplete', 'off');
</script>
<style>
    .container {
        width: 40vw;
        margin-left: 30vw;
        border-radius: 5px;
        background-color: #EEEEEE;
        padding: 2vh 2vw;
        margin-top: 10vh;
    }

    .heading {
        font-size: 1.5em;
        line-height: 1.2;
        margin-bottom: 3vh;
    }

    .form-row {
        margin-bottom: 2vh;
    }

    input.mdl-button {
        background-color: #0471ff !important;
        color: #EEEEEE !important;
        padding-top: 1px !important;
        text-align: center;
        margin: auto;
        margin-top: 2vh;
        border-radius: 15px;
        text-transform: none;
        font-family: 'Montserrat', sans-serif !important;
    }

    .i-container {
        width: 100%;
        text-align: center;
    }

    .i-container i {
        font-size: 4em;
    }

    .mobile-header {
        display: none;
    }

    @media only screen and (max-width: 900px) {
        .mdl-layout__drawer-button {
            margin-top: 2.5vh;
            border-radius: 50%;
            background-color: #150E41;
            align-items: center;
            display: flex;
            justify-content: center;
            border: 1px solid #fff;
        }

        .mobile-header {
            display: block;
            min-height: 13vh;
            max-height: 13vh;
        }

        .mobile-header a {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 3vh;
            text-decoration: none;
        }

        .logo-img {
            height: 40px;
        }

        .logo-text {
            font-size: 4.5vh;
            padding-left: 10px;
            font-family: 'Quicksand', sans-serif;
            color: #E0E0E0;
        }

        .container {
            width: 85%;
            margin: auto;
            margin-top: 5vh;
        }
    }
</style>
{% endblock %}