{% extends base_template %}
{% block main %}
<div class="container">
    <h1>Contact Us</h1>
</div>
<style>
    h1 {
        font-family: 'Eczar', serif !important;
        font-weight: 300 !important;
        color: #E0E0E0;
        margin-top: 5vh;
    }

    h1::after {
        content: "";
        display: block;
        border-bottom: 4px solid #BDBDBD;
        width: 10%;
        position: relative;
        bottom: -2px;
    }

    .container {
        width: 64vw;
        margin-left: 18vw;
    }
</style>
{% endblock %}
